{"openapi":"3.0.1","info":{"title":"Fluximmo-BaaS","description":"See more at fluximmo.com","contact":{"name":"Fluximmo BaaS","url":"https://fluximmo.com","email":"contact@fluximmo.com"},"version":"1.1.0-beta"},"servers":[{"url":"https://api.f6o.io/"}],"security":[{"ApiKeyAuth":[]}],"tags":[{"name":"ElasticImmo"},{"name":"Properties"},{"name":"Alerts"},{"name":"Sellers"},{"name":"Ads"}],"paths":{"/v2/ad/autocomplete":{"post":{"tags":["Ads"],"summary":"AutoCompleteAd - Give user-friendly's auto-complete experience by helping user to type meaningful keyword to help build a search query.","operationId":"Ads_AutoCompleteAd","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAutoCompleteRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAutoCompleteResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/ad/id/_many":{"post":{"tags":["Ads"],"summary":"UpdateAdsAlert - Provide the same capabilities as CreateAdsAlerts except that the ID is specified. You can confirm the action by looking up the ID in the response.","operationId":"Ads_GetAdsByID","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoGetAdsByIdRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoGetAdsByIdResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/ad/search":{"post":{"tags":["Ads"],"summary":"SearchAds - Give search capabilities to retrieve real-estate ads. This is suitable for an end-user search experience.","operationId":"Ads_SearchAds","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoSearchAdsRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoSearchAdsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/ad/url/_search":{"post":{"tags":["Ads"],"summary":"SearchAdByURL - Retrieve an ad by a given url link.","operationId":"Ads_SearchAdByURL","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoSearchAdByURLRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoSearchAdByURLResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/alert/ads":{"put":{"tags":["Alerts"],"summary":"CreateAdsAlert - The alert is an ISO's version of the SearchAds query. Once the alert is created it will be available to be match against any new property created.","operationId":"Alerts_CreateAdsAlert","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAdAlert"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAlertResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/alert/ads/_bulk":{"put":{"tags":["Alerts"],"summary":"BulkAdsAlerts - Create multiple ads alert at the same time to lower the number of calls.","operationId":"Alerts_BulkAdsAlerts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoBulkAdsAlertsRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoBulkAlertsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/alert/ads/match/_all":{"post":{"tags":["Alerts"],"summary":"MatchAlertAds - Return the list of alerts matching against every given properties. The behaviour of the match is defined as in the SearchAd experience.","operationId":"Alerts_MatchAlertAds","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoMatchAlertAdsRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoMatchAlertResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/alert/ads/{alertId}":{"get":{"tags":["Alerts"],"summary":"GetAdsAlert - Retrieve alert for a given seller alert id","operationId":"Alerts_GetAdsAlert","parameters":[{"name":"alertId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAdAlert"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}}},"delete":{"tags":["Alerts"],"summary":"DeleteAdsAlert - Delete an alert for a given alert_id, the confirmation of deletion is given by the field in the response","operationId":"Alerts_DeleteAdsAlert","parameters":[{"name":"alertId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAlertResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}}},"patch":{"tags":["Alerts"],"summary":"UpdateAdsAlert - Provide the same capabilities as CreateAdsAlert except that the ID is specified. You can confirm the action by looking up the ID in the response.","operationId":"Alerts_UpdateAdsAlert","parameters":[{"name":"alertId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"alert":{"$ref":"#/components/schemas/elasticimmoAdAlert"}}}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAlertResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/alert/ads/{alertId}/_activate":{"patch":{"tags":["Alerts"],"summary":"ActivateAdsAlert - Re-activate a paused alert. Ads will be matched with it.","operationId":"Alerts_ActivateAdsAlert","parameters":[{"name":"alertId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAlertResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/alert/ads/{alertId}/_pause":{"patch":{"tags":["Alerts"],"summary":"PauseAdsAlert - Pause the given alerts, no ads will be matched with it. It can be reactivated when needed.","operationId":"Alerts_PauseAdsAlert","parameters":[{"name":"alertId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAlertResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/alert/properties":{"put":{"tags":["Alerts"],"summary":"CreatePropertiesAlert - The alert is an ISO's version of the SearchProperty query. Once the alert is created it will be available to be match against any new property created.","operationId":"Alerts_CreatePropertiesAlert","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoPropertyAlert"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAlertResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/alert/properties/_bulk":{"put":{"tags":["Alerts"],"summary":"BulkPropertiesAlerts - Create multiple properties alert at the same time to lower the number of calls.","operationId":"Alerts_BulkPropertiesAlerts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoBulkPropertiesAlertsRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoBulkAlertsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/alert/properties/match/_all":{"post":{"tags":["Alerts"],"summary":"MatchAlertProperties - Return the list of alerts matching against every given properties. The behaviour of the match is defined as in the SearchProperty experience.","operationId":"Alerts_MatchAlertProperties","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoMatchAlertPropertiesRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoMatchAlertResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/alert/properties/{alertId}":{"get":{"tags":["Alerts"],"summary":"GetPropertiesAlert - Retrieve alert for a given alert id","operationId":"Alerts_GetPropertiesAlert","parameters":[{"name":"alertId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoPropertyAlert"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}}},"delete":{"tags":["Alerts"],"summary":"DeletePropertiesAlert - Delete an alert for a given alert_id, the confirmation of deletion is given by the field in the response","operationId":"Alerts_DeletePropertiesAlert","parameters":[{"name":"alertId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAlertResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}}},"patch":{"tags":["Alerts"],"summary":"UpdatePropertiesAlert - Provide the same capabilities as CreatePropertiesAlerts except that the ID is specified. You can confirm the action by looking up the ID in the response.","operationId":"Alerts_UpdatePropertiesAlert","parameters":[{"name":"alertId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"alert":{"$ref":"#/components/schemas/elasticimmoPropertyAlert"}}}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAlertResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/alert/properties/{alertId}/_activate":{"patch":{"tags":["Alerts"],"summary":"ActivatePropertiesAlert - Re-activate a paused alert. Properties will be matched with it.","operationId":"Alerts_ActivatePropertiesAlert","parameters":[{"name":"alertId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAlertResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/alert/properties/{alertId}/_pause":{"patch":{"tags":["Alerts"],"summary":"PausePropertiesAlert - Pause the given alerts, no properties will be matched with it. It can be reactivated when needed.","operationId":"Alerts_PausePropertiesAlert","parameters":[{"name":"alertId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAlertResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/elasticimmo/ad/online/_many":{"post":{"tags":["ElasticImmo"],"summary":"UpdateAdsOnline - Allows to update the state of `online` of a given set of ads. This is not a public's api.","operationId":"ElasticImmo_UpdateAdsOnline","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoUpdateAdsOnlineRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoUpdateAdsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/elasticimmo/ad/price/_many":{"post":{"tags":["ElasticImmo"],"summary":"UpdateAdsPrice - Allows to update the price of a given set of ads. This is not a public's api","operationId":"ElasticImmo_UpdateAdsPrice","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoUpdateAdsPriceRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoUpdateAdsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/elasticimmo/ad/upsert/_many":{"post":{"tags":["ElasticImmo"],"summary":"UpsertAds - Allow to insert a set of ads inside the elasticimmo microservice. This is not a public's api","operationId":"ElasticImmo_UpsertAds","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoUpsertAdsRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoUpsertAdsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/property/_autocomplete/{search}":{"get":{"tags":["Properties"],"summary":"AutoCompleteProperty - Give user-friendly's auto-complete experience by helping user to type meaningful keywords for search capabilities","operationId":"Properties_AutoCompleteProperty","parameters":[{"name":"search","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAutoCompleteResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}}}},"/v2/property/_many":{"post":{"tags":["Properties"],"summary":"GetPropertiesByIds - Retrieve a list of property based on their ids, useful to get content of a given property without using search.","operationId":"Properties_GetPropertiesByIds","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoPropertyByIdRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoPropertyByIdResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/property/_search":{"post":{"tags":["Properties"],"summary":"SearchProperties - Allow to obtain properties with a end-user oriented search-experience.","operationId":"Properties_SearchProperties","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoSearchPropertiesRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoSearchPropertiesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/property/_similars":{"post":{"tags":["Properties"],"summary":"SimilarProperties - Return properties having similar characteristic of the given one. This can be only used to have a search or exploratory experience and is meant for deduplication.","operationId":"Properties_SimilarProperties","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoSimilarPropertiesRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoSimilarPropertiesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/property/advert/_many":{"post":{"tags":["Properties"],"summary":"GetPropertiesByAdvertIds - Retrieve a list of property based on containing advert id. It can be useful to get the existing associated properties to a given ad.","operationId":"Properties_GetPropertiesByAdvertIds","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoPropertyByAdvertIdRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoPropertyByIdResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/property/duplicate/_search":{"post":{"tags":["Properties"],"summary":"SearchDuplicatedProperties - Search for potential properties duplicated from the given ads.","operationId":"Properties_SearchDuplicatedProperties","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoSearchDuplicatedPropertiesRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoSearchDuplicatedPropertiesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/property/url/_search":{"post":{"tags":["Properties"],"summary":"SearchPropertyByURL - Retrieve a property by a given url link.","operationId":"Properties_SearchPropertyByURL","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoSearchPropertyByURLRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoSearchPropertyByURLResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/property/{id}/_estimate":{"get":{"tags":["Properties"],"summary":"EstimateProperty - Return a fast estimation of the price per area for a given property based on his ID. This should not be used as an official estimation.","operationId":"Properties_EstimateProperty","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoEstimatePropertyResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}}}},"/v2/property/{id}/_issue":{"post":{"tags":["Properties"],"summary":"RaiseIssue - Raise an issue for a given property","operationId":"Properties_RaiseIssue","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/RaiseIssueRequestIssueType"},"userId":{"type":"string"},"comments":{"type":"string"},"raisedAt":{"type":"string","format":"date-time"}}}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoRaiseIssueResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/seller/autocomplete":{"post":{"tags":["Sellers"],"summary":"AutoCompleteSeller -Give user-friendly's auto-complete experience by helping user to type meaningful keyword to help build a search query.","operationId":"Sellers_AutoCompleteSeller","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAutoCompleteRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoAutoCompleteResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/seller/find/_many":{"post":{"tags":["Sellers"],"summary":"FindSellers - Allow to get close match for a given seller set of information. For performance reason all field must completed.","operationId":"Sellers_FindSellers","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoFindSellersRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoFindSellersResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/seller/search":{"post":{"tags":["Sellers"],"summary":"SearchSellers - Give search capabilities to retrieve real-estate sellers. This is suitable for an end-user search experience.","operationId":"Sellers_SearchSellers","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoSearchSellersRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoSearchSellersResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/seller/upsert/_many":{"post":{"tags":["Sellers"],"summary":"UpsertSellers - Upsert in an optimized way (bulk upsert are heavily recommended) sellers. The inserted sellers may be modified for performance or usage purpose. Update is a costful operation, please use with caution.","operationId":"Sellers_UpsertSellers","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoUpsertSellersRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/elasticimmoUpsertSellersResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}}},"components":{"schemas":{"AutoCompleteResponseDataAutoComplete":{"type":"object","properties":{"kind":{"type":"string"},"lang":{"type":"string"},"items":{"type":"array","items":{"type":"string"}}}},"CompanyInfoExecutive":{"type":"object","properties":{"name":{"type":"string"},"firstName":{"type":"string"},"yearOfBirth":{"type":"integer","format":"int64"},"occupation":{"type":"string"},"executiveType":{"type":"string"}}},"EstimatePropertyResponseEstimateResult":{"type":"object","properties":{"confidence":{"$ref":"#/components/schemas/EstimateResultConfidence"},"lowerPricing":{"type":"number","format":"double"},"upperPricing":{"type":"number","format":"double"},"estimatedPricing":{"type":"number","format":"double"}}},"EstimateResultConfidence":{"type":"string","default":"UNKNOWN","enum":["UNKNOWN","VERY_LOW","LOW","MEDIUM","HIGH","VERY_HIGH"]},"FilterGoogleInfoAbout":{"type":"object"},"FilterGoogleInfoReviews_per_score":{"type":"object","properties":{"score1":{"type":"integer","format":"int64"},"score2":{"type":"integer","format":"int64"},"score3":{"type":"integer","format":"int64"},"score4":{"type":"integer","format":"int64"},"score5":{"type":"integer","format":"int64"}}},"FilterLatLngGeoDistance":{"title":"GeoDistance","type":"object","properties":{"distanceKm":{"type":"number","format":"double"},"pin":{"$ref":"#/components/schemas/commonsLatLng"}},"description":"Matches geopoint values within a given distance of a geopoint (pin)."},"FilterLatLngPreregisteredShape":{"title":"PreregisteredShape","type":"object","properties":{"index":{"$ref":"#/components/schemas/elasticimmoGeoIndex"},"id":{"type":"string"}},"description":"Shape which has already been stored inside fluximmo services. This is particularly useful for when you have a pre-defined list of shapes and you want to reference the list using a logical name (for example Ile-de-France) rather than having to provide coordinates each time."},"FilterLatLngSpatialRelation":{"type":"string","default":"UNKNOWN_SPATIAL_RELATION","enum":["UNKNOWN_SPATIAL_RELATION","WITHIN","CONTAINS","DISJOINT","INTERSECTS"]},"FilterSellerFilterCompanyInfo":{"type":"object","properties":{"createdAt":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoDateRange"}},"lastUpdatedAt":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoDateRange"}},"socialReason":{"type":"array","items":{"type":"string"}},"legalNature":{"type":"array","items":{"type":"string"}},"sigle":{"type":"array","items":{"type":"string"}},"siren":{"type":"array","items":{"type":"string"}},"siret":{"type":"array","items":{"type":"string"}},"principalActivityCode":{"type":"array","items":{"type":"string"}},"officialLocation":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoFilterLocation"}},"rcs":{"type":"array","items":{"type":"string"}},"apeCode":{"type":"array","items":{"type":"string"}},"cardNumber":{"type":"array","items":{"type":"string"}}}},"FilterSellerFilterInfo":{"type":"object","properties":{"company":{"$ref":"#/components/schemas/FilterSellerFilterCompanyInfo"},"contact":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoSellerContact"}},"network":{"type":"array","items":{"$ref":"#/components/schemas/SellerNetworkInfo"}},"affiliation":{"type":"array","items":{"$ref":"#/components/schemas/SellerAffiliation"}},"agencyFeeUrl":{"type":"array","items":{"type":"string"}},"displayName":{"type":"array","items":{"type":"string"}},"position":{"type":"array","items":{"$ref":"#/components/schemas/FilterSellerFilterPosition"}}}},"FilterSellerFilterPosition":{"type":"object","properties":{"origin":{"type":"array","items":{"$ref":"#/components/schemas/SellerPositionOrigin"}},"source":{"type":"array","items":{"$ref":"#/components/schemas/SellerPositionSource"}},"precisionLevel":{"type":"array","items":{"$ref":"#/components/schemas/PositionPrecisionLevel"}},"type":{"type":"array","items":{"$ref":"#/components/schemas/PositionPlaceType"}},"precisionDetail":{"type":"array","items":{"$ref":"#/components/schemas/PositionPrecisionDetail"}},"matchedLocation":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoFilterLocation"}}}},"FindSellersRequestSellerInfo":{"type":"object","properties":{"name":{"type":"string"},"location":{"$ref":"#/components/schemas/commonsLatLng"},"sirens":{"type":"array","items":{"type":"string"}}}},"GoogleInfoReviewsPerScore":{"type":"object","properties":{"score1":{"type":"integer","format":"int64"},"score2":{"type":"integer","format":"int64"},"score3":{"type":"integer","format":"int64"},"score4":{"type":"integer","format":"int64"},"score5":{"type":"integer","format":"int64"}}},"ImageRoom":{"type":"string","default":"ROOM_UNKNOWN","enum":["ROOM_UNKNOWN","ROOM_BLUEPRINT","ROOM_BATHROOM","ROOM_BEDROOM","ROOM_LIVINGROOM_DININGROOM","ROOM_GARAGE","ROOM_HALLWAY","ROOM_LAUNDRY_ROOM","ROOM_OFFICE","ROOM_EXTERIOR"]},"MatchAlertResponseAlert":{"type":"object","properties":{"alertIds":{"type":"array","items":{"type":"string"}}}},"PositionPlaceType":{"type":"string","default":"PLACE_UNKNOWN","enum":["PLACE_UNKNOWN","PLACE_STREET","PLACE_PLACE","PLACE_CITY","PLACE_TOWN","PLACE_VILLAGE"]},"PositionPrecision":{"type":"string","default":"PRECISION_UNKNOWN","enum":["PRECISION_UNKNOWN","PRECISION_APPROXIMATE","PRECISION_PARTIAL","PRECISION_GOOD","PRECISION_EXACT","PRECISION_NOT_FOUND"]},"PositionPrecisionDetail":{"type":"object","properties":{"city":{"$ref":"#/components/schemas/PositionPrecision"},"number":{"$ref":"#/components/schemas/PositionPrecision"},"street":{"$ref":"#/components/schemas/PositionPrecision"},"postalCode":{"$ref":"#/components/schemas/PositionPrecision"},"placeType":{"$ref":"#/components/schemas/PositionPlaceType"},"score":{"type":"number","format":"double"},"numberScore":{"type":"number","format":"double"}}},"PositionPrecisionLevel":{"type":"string","default":"PRECISION_LEVEL_UNKNOWN","enum":["PRECISION_LEVEL_UNKNOWN","PRECISION_LEVEL_ROOFTOP","PRECISION_LEVEL_STREET","PRECISION_LEVEL_CITY","PRECISION_LEVEL_NOT_FOUND"]},"RaiseIssueRequestIssueType":{"title":"- ISSUE_TYPE_UNKNWON: Used for backward compatibility","type":"string","default":"ISSUE_TYPE_UNKNWON","enum":["ISSUE_TYPE_UNKNWON","ISSUE_TYPE_PRICE","ISSUE_TYPE_OFFLINE","ISSUE_TYPE_LOCATION","ISSUE_TYPE_WRONG_LINK","ISSUE_TYPE_WRONG_MERGE","ISSUE_TYPE_OTHER"]},"SearchDuplicatedPropertiesResponseDuplicate":{"type":"object","properties":{"property":{"$ref":"#/components/schemas/elasticimmoProperty"},"error":{"$ref":"#/components/schemas/rpcStatus"}}},"SellerAffiliation":{"type":"string","default":"AFFILIATION_UNKNOWN","enum":["AFFILIATION_UNKNOWN","AFFILIATION_FNAIM","AFFILIATION_AMEPI","AFFILIATION_SNPI","AFFILIATION_UNIS","AFFILIATION_FPI"]},"SellerNetworkInfo":{"type":"object","properties":{"facebookUrl":{"type":"string"},"linkedinUrl":{"type":"string"},"instagramUrl":{"type":"string"},"websiteUrl":{"type":"string"},"twitterUrl":{"type":"string"}}},"SellerPosition":{"type":"object","properties":{"origin":{"$ref":"#/components/schemas/SellerPositionOrigin"},"source":{"$ref":"#/components/schemas/SellerPositionSource"},"precisionLevel":{"$ref":"#/components/schemas/PositionPrecisionLevel"},"type":{"$ref":"#/components/schemas/PositionPlaceType"},"precisionDetail":{"$ref":"#/components/schemas/PositionPrecisionDetail"},"matchedLocation":{"$ref":"#/components/schemas/elasticimmoLocation"}}},"SellerPositionOrigin":{"type":"string","default":"ORIGIN_UNKNOWN","enum":["ORIGIN_UNKNOWN","ORIGIN_STANDARD","ORIGIN_FLOW","ORIGIN_MANUAL"]},"SellerPositionSource":{"type":"string","default":"SOURCE_UNKNOWN","enum":["SOURCE_UNKNOWN","SOURCE_BANO","SOURCE_OSM"]},"SimilarPropertiesRequestSimilarityStrategy":{"type":"string","default":"SEARCH","enum":["SEARCH"]},"UpdateAdsResponseUpdateAds":{"type":"object","properties":{"success":{"$ref":"#/components/schemas/UpdateAdsResponseUpdateAdsStatus"},"failed":{"$ref":"#/components/schemas/rpcStatus"}}},"UpdateAdsResponseUpdateAdsStatus":{"type":"object","properties":{"updated":{"type":"object","additionalProperties":{"type":"string"}},"failed":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/rpcStatus"}}}},"UpdateAdsResponseUpdateProperties":{"type":"object","properties":{"success":{"$ref":"#/components/schemas/UpdateAdsResponseUpdatePropertiesStatus"},"failed":{"$ref":"#/components/schemas/rpcStatus"}}},"UpdateAdsResponseUpdatePropertiesStatus":{"type":"object","properties":{"updated":{"type":"object","additionalProperties":{"type":"string"}},"failed":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/rpcStatus"}}}},"UpsertAdsResponseInsertAd":{"type":"object","properties":{"success":{"$ref":"#/components/schemas/UpsertAdsResponseInsertAdStatus"},"failed":{"$ref":"#/components/schemas/rpcStatus"}}},"UpsertAdsResponseInsertAdStatus":{"type":"object","properties":{"created":{"type":"object","additionalProperties":{"type":"string"}},"updated":{"type":"object","additionalProperties":{"type":"string"}},"failed":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/rpcStatus"}}}},"UpsertAdsResponseInsertProperty":{"type":"object","properties":{"success":{"$ref":"#/components/schemas/UpsertAdsResponseInsertPropertyStatus"},"failed":{"$ref":"#/components/schemas/rpcStatus"}}},"UpsertAdsResponseInsertPropertyStatus":{"type":"object","properties":{"created":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/UpsertAdsResponseMergedAdState"}},"updated":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/UpsertAdsResponseMergedAdState"}},"failed":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/rpcStatus"}}}},"UpsertAdsResponseMergedAdState":{"type":"object","properties":{"propertyFlxId":{"type":"string"},"propertyAdFlxId":{"type":"string"},"propertyAdLegacyId":{"type":"string"}}},"commonsGeoBoundingBox":{"title":"GeoBoundingBox","type":"object","properties":{"topLeft":{"$ref":"#/components/schemas/commonsLatLng"},"bottomRight":{"$ref":"#/components/schemas/commonsLatLng"}},"description":"Use a geo_bounding_box filter to match geo_point values that intersect a bounding box. To define the box, provide geopoint values for two opposite corners."},"commonsLatLng":{"type":"object","properties":{"lat":{"type":"number","description":"The latitude in degrees. It must be in the range [-90.0, +90.0].","format":"double"},"lon":{"type":"number","description":"The longitude in degrees. It must be in the range [-180.0, +180.0].","format":"double"}}},"elasticimmoAd":{"title":"Ad","type":"object","properties":{"legacyId":{"type":"string"},"flxId":{"type":"string"},"firstSeenAt":{"type":"string","format":"date-time"},"firstPublishedAt":{"type":"string","format":"date-time"},"lastModifiedAt":{"type":"string","format":"date-time"},"lastSeenAt":{"type":"string","format":"date-time"},"title":{"type":"string"},"description":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"medias":{"$ref":"#/components/schemas/elasticimmoMedias"},"isUrgent":{"type":"boolean"},"offer":{"$ref":"#/components/schemas/elasticimmoOffer"},"type":{"$ref":"#/components/schemas/elasticimmoPropertyClass"},"process":{"$ref":"#/components/schemas/elasticimmoPropertyProcess"},"currentPrice":{"$ref":"#/components/schemas/elasticimmoPropertyPrice"},"estimatedPrice":{"$ref":"#/components/schemas/elasticimmoPropertyPrice"},"warrantyDeposit":{"type":"number","format":"double"},"charges":{"$ref":"#/components/schemas/elasticimmoCharges"},"isAuction":{"type":"boolean"},"scope":{"$ref":"#/components/schemas/elasticimmoPricingScope"},"currency":{"$ref":"#/components/schemas/elasticimmoCurrency"},"habitation":{"$ref":"#/components/schemas/elasticimmoTypeHabitation"},"parking":{"$ref":"#/components/schemas/elasticimmoTypeParking"},"land":{"$ref":"#/components/schemas/elasticimmoTypeLand"},"source":{"$ref":"#/components/schemas/elasticimmoSource"},"location":{"$ref":"#/components/schemas/elasticimmoLocation"},"isCityCenter":{"type":"boolean"},"hasAnomaly":{"type":"boolean"},"anomalies":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoAnomaly"}},"isPro":{"type":"boolean"},"seller":{"$ref":"#/components/schemas/elasticimmoLightSeller"},"contactInCharge":{"$ref":"#/components/schemas/elasticimmoContact"},"isKnownProperty":{"type":"boolean"},"mainPropertyAdFlxId":{"type":"string"},"propertyFlxId":{"type":"string"},"isOnline":{"type":"boolean"},"websiteRefs":{"type":"array","items":{"type":"string"}}},"description":"Representation of a self-contained ad. This is not a user-friendly representation"},"elasticimmoAdAlert":{"type":"object","properties":{"alert":{"$ref":"#/components/schemas/elasticimmoSearchAdsQuery"},"isActive":{"type":"boolean"},"match":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoAlertMatch"}}}},"elasticimmoAdImmo":{"type":"object","properties":{"kind":{"type":"string"},"id":{"type":"string"},"lang":{"type":"string"},"updated":{"type":"string"},"deleted":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoAd"}}}},"elasticimmoAddress":{"type":"object","properties":{"number":{"type":"string"},"streetName":{"type":"string"}}},"elasticimmoAdvert":{"type":"object","properties":{"flxId":{"type":"string"},"isPro":{"type":"boolean"},"seller":{"$ref":"#/components/schemas/elasticimmoLightSeller"},"contactInCharge":{"$ref":"#/components/schemas/elasticimmoContact"},"source":{"$ref":"#/components/schemas/elasticimmoSource"},"title":{"type":"string"},"description":{"type":"string"},"isOnline":{"type":"boolean"},"firstSeenAt":{"type":"string","format":"date-time"},"lastUpdatedAt":{"type":"string","format":"date-time"},"firstPublishedAt":{"type":"string","format":"date-time"},"lastSeenAt":{"type":"string","format":"date-time"},"price":{"$ref":"#/components/schemas/elasticimmoPrice"},"location":{"type":"array","items":{"type":"number","format":"double"}},"legacyId":{"type":"string"},"offlineAt":{"type":"string","format":"date-time"},"medias":{"$ref":"#/components/schemas/elasticimmoMedias"},"anomalies":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoAnomaly"}},"hasAnomaly":{"type":"boolean"}}},"elasticimmoAlertMatch":{"type":"string","default":"ALERT_MATCH_UNKNOWN","enum":["ALERT_MATCH_UNKNOWN","ALERT_MATCH_PRICE","ALERT_MATCH_CREATED","ALERT_MATCH_OFFLINE","ALERT_MATCH_MERGED"]},"elasticimmoAlertResponse":{"type":"object","properties":{"kind":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"created":{"type":"string"},"updated":{"type":"string"},"deleted":{"type":"string"},"noop":{"type":"string"}}},"elasticimmoAnomaly":{"title":"- SURFACE_IS_NONE: DEPRECATED ANOMALIES WILL NOT APPEARS AFTER JANUARY 2024","type":"string","default":"UNKNOWN_ANOMALY","enum":["UNKNOWN_ANOMALY","NO_EXACT_LOCATION_ANOMALY","NO_PARKING_COUNT_ANOMALY","NO_DESCRIPTION_ANOMALY","NO_MEDIAS_ANOMALY","NO_PICTURE_ANOMALY","TOO_SHORT_DESCRIPTION_ANOMALY","TOO_SHORT_TITLE_ANOMALY","LOW_PRICE_ANOMALY","HIGH_PRICE_ANOMALY","INCOHERENT_LOCATION_ANOMALY","INCOHERENT_LAND_VALUES_ANOMALY","INCOHERENT_HABITATION_VALUES_ANOMALY","TOO_SMALL_ROOM_ANOMALY","SURFACE_IS_NONE","ROOM_COUNT_IS_NONE","BEDROOM_COUNT_IS_NONE","PRICE_INCOHERENT","TITLE_TOO_SHORT","DESCRIPTION_TOO_SHORT","PRICE_IS_NONE","POSTAL_CODE_IS_NONE","INSEE_CODE_IS_NONE","CITY_IS_NONE","OFFER_TYPE_IS_NONE","TYPE_IS_NONE"]},"elasticimmoAutoCompleteRequest":{"type":"object","properties":{"search":{"type":"string"}}},"elasticimmoAutoCompleteResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"context":{"type":"string"},"data":{"$ref":"#/components/schemas/AutoCompleteResponseDataAutoComplete"},"internalDelay":{"type":"integer","format":"int64"}}},"elasticimmoBulkAdsAlertsRequest":{"type":"object","properties":{"alerts":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoAdAlert"}}}},"elasticimmoBulkAlertsResponse":{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoBulkAlertsResponseAlertState"}}}},"elasticimmoBulkAlertsResponseAlertState":{"type":"object","properties":{"success":{"$ref":"#/components/schemas/elasticimmoAlertResponse"},"failed":{"$ref":"#/components/schemas/rpcStatus"}}},"elasticimmoBulkPropertiesAlertsRequest":{"type":"object","properties":{"alerts":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoPropertyAlert"}}}},"elasticimmoCharacteristics":{"type":"object","properties":{"hasLift":{"type":"boolean"},"hasCellar":{"type":"boolean"},"hasBalcony":{"type":"boolean"},"hasTerrace":{"type":"boolean"},"hasGarden":{"type":"boolean"},"hasFireplace":{"type":"boolean"},"hasGrenier":{"type":"boolean"},"hasPool":{"type":"boolean"},"hasParking":{"type":"boolean"},"hasGarage":{"type":"boolean"},"hasLand":{"type":"boolean"},"hasConcierge":{"type":"boolean"},"hasDigicode":{"type":"boolean"},"hasInterphone":{"type":"boolean"},"hasAlarm":{"type":"boolean"},"hasVisAVis":{"type":"boolean"},"isPeaceful":{"type":"boolean"},"hasMezzanine":{"type":"boolean"},"hasJacuzzi":{"type":"boolean"}}},"elasticimmoCharges":{"type":"object","properties":{"yearlyRentalFees":{"type":"number","format":"double"},"yearlyCondoniumFees":{"type":"number","format":"double"},"yearlyHeatingFees":{"type":"number","format":"double"},"yearlyElectricityFees":{"type":"number","format":"double"},"yearlyHousingTax":{"type":"number","format":"double"},"yearlyLivingTax":{"type":"number","format":"double"},"monthlyRentSupplement":{"type":"number","format":"double"}}},"elasticimmoClimate":{"type":"object","properties":{"epcEnergy":{"$ref":"#/components/schemas/elasticimmoEnergyClassification"},"epcClimate":{"$ref":"#/components/schemas/elasticimmoGreenhouseClassification"},"epcEnergyScore":{"type":"number","format":"float"},"epcClimateScore":{"type":"number","format":"float"},"epcClimateDate":{"type":"string","format":"date-time"},"epcEnergyDate":{"type":"string","format":"date-time"}}},"elasticimmoCompanyDetail":{"type":"object","properties":{"establishmentCount":{"type":"integer","format":"int64"},"openedEstablishmentCount":{"type":"integer","format":"int64"},"employeesWorkforce":{"type":"string"},"matchingEstablishments":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoUnstructuredData"}}}},"elasticimmoCompanyInfo":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"lastUpdatedAt":{"type":"string","format":"date-time"},"completeName":{"type":"string"},"socialReason":{"type":"string"},"legalNature":{"type":"string"},"sigle":{"type":"string"},"siren":{"type":"string"},"siret":{"type":"string"},"commercialName":{"type":"string"},"principalActivityCode":{"type":"string"},"companyDetail":{"$ref":"#/components/schemas/elasticimmoCompanyDetail"},"executives":{"type":"array","items":{"$ref":"#/components/schemas/CompanyInfoExecutive"}},"officialLocation":{"$ref":"#/components/schemas/elasticimmoLocation"},"apeCode":{"type":"string"},"rcs":{"type":"string"},"logo":{"$ref":"#/components/schemas/elasticimmoCompanyInfoImage"}}},"elasticimmoCompanyInfoImage":{"type":"object","properties":{"imageId":{"type":"string"},"sourceUrl":{"type":"string"},"s3Path":{"type":"string"}}},"elasticimmoCompleteLatLng":{"type":"object","properties":{"location":{"type":"array","items":{"type":"number","format":"double"}},"h3Indices":{"$ref":"#/components/schemas/elasticimmoH3Index"}}},"elasticimmoContact":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"phoneNumber":{"type":"string"},"email":{"type":"string"},"pseudonym":{"type":"string"}}},"elasticimmoCurrency":{"type":"string","default":"CURRENCY_EUR","enum":["CURRENCY_EUR","CURRENCY_USD"]},"elasticimmoDataImmo":{"type":"object","properties":{"kind":{"type":"string"},"id":{"type":"string"},"lang":{"type":"string"},"updated":{"type":"string"},"deleted":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoProperty"}}}},"elasticimmoDataSeller":{"type":"object","properties":{"kind":{"type":"string"},"id":{"type":"string"},"lang":{"type":"string"},"updated":{"type":"string"},"deleted":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoSeller"}}}},"elasticimmoDateRange":{"type":"object","properties":{"min":{"type":"string","format":"date-time"},"max":{"type":"string","format":"date-time"}}},"elasticimmoDoubleRange":{"type":"object","properties":{"min":{"type":"number","format":"double"},"max":{"type":"number","format":"double"}}},"elasticimmoEnergyClassification":{"type":"string","default":"ENERGY_CLASSIFICATION_UNKNOWN","enum":["ENERGY_CLASSIFICATION_UNKNOWN","ENERGY_CLASSIFICATION_G","ENERGY_CLASSIFICATION_F","ENERGY_CLASSIFICATION_E","ENERGY_CLASSIFICATION_D","ENERGY_CLASSIFICATION_C","ENERGY_CLASSIFICATION_B","ENERGY_CLASSIFICATION_A","ENERGY_CLASSIFICATION_NC"]},"elasticimmoEstimatePropertyResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"context":{"type":"string"},"kind":{"type":"string"},"data":{"$ref":"#/components/schemas/EstimatePropertyResponseEstimateResult"},"internalDelay":{"type":"integer","format":"int64"}}},"elasticimmoExposure":{"type":"string","default":"EXPOSURE_UNKNOWN","enum":["EXPOSURE_UNKNOWN","EXPOSURE_NORTH","EXPOSURE_NORTH_EAST","EXPOSURE_EAST","EXPOSURE_SOUTH_EAST","EXPOSURE_SOUTH","EXPOSURE_SOUTH_WEST","EXPOSURE_WEST","EXPOSURE_NORTH_WEST"]},"elasticimmoFeatures":{"type":"object","properties":{"propertyTotalFloor":{"type":"integer","format":"int64"},"propertyFloor":{"type":"integer","format":"int64"},"viewTypes":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoViewType"}},"exposure":{"$ref":"#/components/schemas/elasticimmoExposure"},"furniture":{"$ref":"#/components/schemas/elasticimmoFurniture"},"constructionMaterials":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoMaterial"}},"viewOns":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoViewOn"}},"glazingTypes":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoGlazingType"}},"hasThroughExposure":{"type":"boolean"}}},"elasticimmoFilterAd":{"type":"object","properties":{"firstSeenAt":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoDateRange"}},"firstPublishedAt":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoDateRange"}},"lastModifiedAt":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoDateRange"}},"tags":{"type":"array","items":{"type":"string"}},"isUrgent":{"type":"boolean"},"offer":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoFilterOffer"}},"type":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoPropertyClass"}},"process":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoPropertyProcess"}},"currentPrice":{"$ref":"#/components/schemas/elasticimmoFilterPropertyPrice"},"estimatedPrice":{"$ref":"#/components/schemas/elasticimmoFilterPropertyPrice"},"warrantyDeposit":{"$ref":"#/components/schemas/elasticimmoDoubleRange"},"charges":{"$ref":"#/components/schemas/elasticimmoCharges"},"isAuction":{"type":"boolean"},"scope":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoPricingScope"}},"currency":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoCurrency"}},"habitation":{"$ref":"#/components/schemas/elasticimmoFilterTypeHabitation"},"parking":{"$ref":"#/components/schemas/elasticimmoFilterTypeParking"},"land":{"$ref":"#/components/schemas/elasticimmoFilterTypeLand"},"source":{"$ref":"#/components/schemas/elasticimmoFilterSource"},"location":{"$ref":"#/components/schemas/elasticimmoFilterLocation"},"hasAnomaly":{"type":"boolean"},"anomalies":{"type":"array","items":{"type":"string"}},"isPro":{"type":"boolean"},"seller":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoLightSeller"}},"contactInCharge":{"$ref":"#/components/schemas/elasticimmoContact"},"isKnownProperty":{"type":"boolean"},"mainPropertyAdFlxId":{"type":"array","items":{"type":"string"}},"propertyFlxId":{"type":"array","items":{"type":"string"}},"isOnline":{"type":"boolean"}}},"elasticimmoFilterAdvert":{"type":"object","properties":{"flxId":{"type":"array","items":{"type":"string"}},"isPro":{"type":"boolean"},"seller":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoLightSeller"}},"contactInCharge":{"$ref":"#/components/schemas/elasticimmoContact"},"source":{"$ref":"#/components/schemas/elasticimmoFilterSource"},"title":{"type":"array","items":{"type":"string"}},"description":{"type":"array","items":{"type":"string"}},"isOnline":{"type":"boolean"},"firstSeenAt":{"$ref":"#/components/schemas/elasticimmoDateRange"},"lastUpdatedAt":{"$ref":"#/components/schemas/elasticimmoDateRange"},"firstPublishedAt":{"$ref":"#/components/schemas/elasticimmoDateRange"},"lastSeenAt":{"$ref":"#/components/schemas/elasticimmoDateRange"},"price":{"$ref":"#/components/schemas/elasticimmoFilterPrice"},"location":{"$ref":"#/components/schemas/elasticimmoFilterLatLng"},"hasAnomaly":{"type":"boolean"},"anomalies":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoAnomaly"}}}},"elasticimmoFilterClimate":{"type":"object","properties":{"epcEnergy":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoEnergyClassification"}},"epcClimate":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoGreenhouseClassification"}},"epcEnergyScore":{"$ref":"#/components/schemas/elasticimmoIntRange"},"epcClimateScore":{"$ref":"#/components/schemas/elasticimmoIntRange"},"epcClimateDate":{"$ref":"#/components/schemas/elasticimmoDateRange"},"epcEnergyDate":{"$ref":"#/components/schemas/elasticimmoDateRange"}}},"elasticimmoFilterCompleteLatLng":{"type":"object","properties":{"location":{"$ref":"#/components/schemas/elasticimmoFilterLatLng"},"h3Indices":{"$ref":"#/components/schemas/elasticimmoH3Index"}}},"elasticimmoFilterFeatures":{"type":"object","properties":{"propertyTotalFloor":{"$ref":"#/components/schemas/elasticimmoIntRange"},"propertyFloor":{"$ref":"#/components/schemas/elasticimmoIntRange"},"viewTypes":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoViewType"}},"exposure":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoExposure"}},"furniture":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoFurniture"}},"constructionMaterials":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoMaterial"}},"viewOns":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoViewOn"}},"glazingTypes":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoGlazingType"}},"hasThroughExposure":{"type":"boolean"}}},"elasticimmoFilterGoogleInfo":{"type":"object","properties":{"name":{"type":"string"},"title":{"type":"string"},"url":{"type":"string"},"companyType":{"type":"string"},"companyCategory":{"type":"string"},"companySubTypes":{"type":"string"},"ctaUrl":{"type":"string"},"category":{"type":"string"},"rating":{"type":"number","format":"double"},"about":{"$ref":"#/components/schemas/FilterGoogleInfoAbout"},"description":{"type":"string"},"reviews":{"$ref":"#/components/schemas/elasticimmoFilterGoogleInfoReviews"},"workingHours":{"$ref":"#/components/schemas/elasticimmoFilterGoogleInfoWorkingHours"},"businessStatus":{"type":"string"},"id":{"type":"string"},"plusCode":{"type":"string"},"timeZone":{"type":"string"},"cid":{"type":"string"},"ownerId":{"type":"string"},"query":{"type":"string"},"location":{"$ref":"#/components/schemas/elasticimmoLocation"}}},"elasticimmoFilterGoogleInfoByDay":{"type":"object","properties":{"monday":{"type":"string"},"tuesday":{"type":"string"},"wednesday":{"type":"string"},"thursday":{"type":"string"},"friday":{"type":"string"},"saturday":{"type":"string"},"sunday":{"type":"string"}}},"elasticimmoFilterGoogleInfoReviews":{"type":"object","properties":{"scoring":{"$ref":"#/components/schemas/FilterGoogleInfoReviews_per_score"},"id":{"type":"string"},"link":{"type":"string"},"count":{"type":"integer","format":"int64"},"tags":{"type":"array","items":{"type":"string"}}}},"elasticimmoFilterGoogleInfoWorkingHours":{"type":"object","properties":{"byDay":{"$ref":"#/components/schemas/elasticimmoFilterGoogleInfoByDay"},"flatFormat":{"title":"google.protobuf.Any other_hours = 3;","type":"string"}}},"elasticimmoFilterHistory":{"type":"object","properties":{"seenAt":{"$ref":"#/components/schemas/elasticimmoDateRange"},"price":{"$ref":"#/components/schemas/elasticimmoIntRange"},"pricePerArea":{"$ref":"#/components/schemas/elasticimmoIntRange"},"nbDaysPublished":{"$ref":"#/components/schemas/elasticimmoIntRange"},"source":{"$ref":"#/components/schemas/elasticimmoFilterSource"}}},"elasticimmoFilterLatLng":{"type":"object","properties":{"preregisteredShape":{"$ref":"#/components/schemas/FilterLatLngPreregisteredShape"},"geoDistance":{"$ref":"#/components/schemas/FilterLatLngGeoDistance"},"geoBoundingBox":{"$ref":"#/components/schemas/commonsGeoBoundingBox"},"geoShape":{"$ref":"#/components/schemas/elasticimmoFilterLatLngGeoShape"}}},"elasticimmoFilterLatLngGeoShape":{"title":"GeoShape","type":"object","properties":{"relation":{"$ref":"#/components/schemas/FilterLatLngSpatialRelation"},"type":{"$ref":"#/components/schemas/elasticimmoGeoShapeType"},"coordinates":{"type":"array","items":{"$ref":"#/components/schemas/commonsLatLng"}}},"description":"Filter documents indexed using. The behaviour of the GeoShape query depends on the type and relation defined. This have the same specs as the GeoJson RFC 7946 (read more here: https://geojson.org/)"},"elasticimmoFilterLocation":{"type":"object","properties":{"address":{"$ref":"#/components/schemas/elasticimmoAddress"},"postalCode":{"type":"string"},"inseeCode":{"type":"string"},"irisCode":{"type":"string"},"department":{"type":"string"},"city":{"type":"string"},"locationCoordinate":{"$ref":"#/components/schemas/elasticimmoFilterCompleteLatLng"},"cityCoordinate":{"$ref":"#/components/schemas/elasticimmoFilterCompleteLatLng"}}},"elasticimmoFilterMeta":{"type":"object","properties":{"firstSeenAt":{"$ref":"#/components/schemas/elasticimmoDateRange"},"lastUpdatedAt":{"$ref":"#/components/schemas/elasticimmoDateRange"},"firstPublishedAt":{"$ref":"#/components/schemas/elasticimmoDateRange"},"lastPublishedAt":{"$ref":"#/components/schemas/elasticimmoDateRange"},"lastSeenAt":{"$ref":"#/components/schemas/elasticimmoDateRange"},"isTotallyOffline":{"type":"boolean"}}},"elasticimmoFilterOffer":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/elasticimmoPropertyOfferType"},"renting":{"$ref":"#/components/schemas/elasticimmoFilterOfferRentingContract"},"isCurrentlyOccupied":{"type":"boolean"}}},"elasticimmoFilterOfferRentingContract":{"type":"object","properties":{"isSubLease":{"type":"boolean"},"isShortTerm":{"type":"boolean"},"isLongTerm":{"type":"boolean"},"isColocation":{"type":"boolean"}}},"elasticimmoFilterPrice":{"type":"object","properties":{"latest":{"$ref":"#/components/schemas/elasticimmoFilterPropertyPrice"},"lowest":{"$ref":"#/components/schemas/elasticimmoFilterPropertyPrice"},"highest":{"$ref":"#/components/schemas/elasticimmoFilterPropertyPrice"},"initial":{"$ref":"#/components/schemas/elasticimmoFilterPropertyPrice"},"warrantyDeposit":{"$ref":"#/components/schemas/elasticimmoIntRange"},"charges":{"$ref":"#/components/schemas/elasticimmoCharges"},"isAuction":{"type":"boolean"},"scope":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoPricingScope"}},"currency":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoCurrency"}},"variation":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoFilterVariation"}}}},"elasticimmoFilterProperty":{"type":"object","properties":{"indexTimestamp":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoDateRange"}},"meta":{"$ref":"#/components/schemas/elasticimmoFilterMeta"},"tags":{"type":"array","items":{"type":"string"}},"isUrgent":{"type":"boolean"},"offer":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoFilterOffer"}},"type":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoPropertyClass"}},"process":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoPropertyProcess"}},"price":{"$ref":"#/components/schemas/elasticimmoFilterPrice"},"habitation":{"$ref":"#/components/schemas/elasticimmoFilterTypeHabitation"},"parking":{"$ref":"#/components/schemas/elasticimmoFilterTypeParking"},"land":{"$ref":"#/components/schemas/elasticimmoFilterTypeLand"},"location":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoFilterLocation"}},"history":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoFilterHistory"}},"adverts":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoFilterAdvert"}},"isCityCenter":{"type":"boolean"},"hasAnomaly":{"type":"boolean"},"estimatedPrice":{"$ref":"#/components/schemas/elasticimmoFilterPropertyPrice"},"imagesLength":{"$ref":"#/components/schemas/elasticimmoIntRange"},"advertsLength":{"$ref":"#/components/schemas/elasticimmoIntRange"},"historyLength":{"$ref":"#/components/schemas/elasticimmoIntRange"},"anomalies":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoAnomaly"}}}},"elasticimmoFilterPropertyPrice":{"type":"object","properties":{"value":{"$ref":"#/components/schemas/elasticimmoIntRange"},"valuePerArea":{"$ref":"#/components/schemas/elasticimmoIntRange"},"source":{"$ref":"#/components/schemas/elasticimmoFilterSource"}}},"elasticimmoFilterSeller":{"type":"object","properties":{"isConsolidated":{"type":"boolean"},"consolidated":{"type":"array","items":{"$ref":"#/components/schemas/FilterSellerFilterInfo"}},"google":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoFilterGoogleInfo"}},"type":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoSellerType"}},"namespace":{"type":"array","items":{"type":"string"}},"externalId":{"type":"array","items":{"type":"string"}}}},"elasticimmoFilterSource":{"type":"object","properties":{"website":{"type":"string"},"url":{"type":"string"},"flxId":{"type":"string"}}},"elasticimmoFilterSurface":{"type":"object","properties":{"total":{"$ref":"#/components/schemas/elasticimmoIntRange"},"livingSpace":{"$ref":"#/components/schemas/elasticimmoIntRange"},"floorSpace":{"$ref":"#/components/schemas/elasticimmoIntRange"},"livingroom":{"$ref":"#/components/schemas/elasticimmoIntRange"},"kitchen":{"$ref":"#/components/schemas/elasticimmoIntRange"},"groundFloor":{"$ref":"#/components/schemas/elasticimmoIntRange"},"balconies":{"$ref":"#/components/schemas/elasticimmoIntRange"},"terraces":{"$ref":"#/components/schemas/elasticimmoIntRange"},"gardens":{"$ref":"#/components/schemas/elasticimmoIntRange"}}},"elasticimmoFilterTypeHabitation":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/elasticimmoPropertyTypeHabitation"},"roomCount":{"$ref":"#/components/schemas/elasticimmoIntRange"},"bedroomCount":{"$ref":"#/components/schemas/elasticimmoIntRange"},"bathroomCount":{"$ref":"#/components/schemas/elasticimmoIntRange"},"wcCount":{"$ref":"#/components/schemas/elasticimmoIntRange"},"roomsDetails":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoRoomsDetails"}},"heatTypes":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoHeatType"}},"heatTypeDetails":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoHeatTypeDetail"}},"heatings":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoHeating"}},"kitchenEquipped":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoKitchenEquipped"}},"features":{"$ref":"#/components/schemas/elasticimmoFilterFeatures"},"characteristics":{"$ref":"#/components/schemas/elasticimmoCharacteristics"},"climate":{"$ref":"#/components/schemas/elasticimmoFilterClimate"},"propertyCondition":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoPropertyCondition"}},"surface":{"$ref":"#/components/schemas/elasticimmoFilterSurface"}}},"elasticimmoFilterTypeLand":{"type":"object","properties":{"type":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoLandType"}},"haveBuildingPermit":{"type":"boolean"},"canConstruct":{"type":"boolean"},"surfaceConstructable":{"$ref":"#/components/schemas/elasticimmoIntRange"},"surface":{"$ref":"#/components/schemas/elasticimmoIntRange"},"isServiced":{"type":"boolean"},"haveWater":{"type":"boolean"},"haveElectricity":{"type":"boolean"},"haveTelecom":{"type":"boolean"}}},"elasticimmoFilterTypeParking":{"type":"object","properties":{"type":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoParkingType"}},"count":{"$ref":"#/components/schemas/elasticimmoIntRange"},"numberOfCars":{"$ref":"#/components/schemas/elasticimmoIntRange"},"surface":{"$ref":"#/components/schemas/elasticimmoIntRange"}}},"elasticimmoFilterVariation":{"type":"object","properties":{"sincePublished":{"$ref":"#/components/schemas/elasticimmoDoubleRange"},"sinceLastModified":{"$ref":"#/components/schemas/elasticimmoDoubleRange"}}},"elasticimmoFindSellersRequest":{"type":"object","properties":{"sellers":{"type":"array","items":{"$ref":"#/components/schemas/FindSellersRequestSellerInfo"}}}},"elasticimmoFindSellersResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoFindSellersResponseResult"}},"internalDelay":{"type":"integer","format":"int64"}}},"elasticimmoFindSellersResponseResult":{"type":"object","properties":{"success":{"$ref":"#/components/schemas/elasticimmoSeller"},"failed":{"$ref":"#/components/schemas/rpcStatus"}}},"elasticimmoFurniture":{"type":"string","default":"UNKNOWN_FURNITURE","enum":["UNKNOWN_FURNITURE","UNFURNISHED","PARTIALLY_FURNISHED","FULLY_FURNISHED"]},"elasticimmoGeoIndex":{"type":"string","default":"UNKNOWN_GEO_INDEX","enum":["UNKNOWN_GEO_INDEX","DEPARTMENT_GEO_INDEX","CITY_GEO_INDEX","REGION_GEO_INDEX"]},"elasticimmoGeoShapeType":{"type":"string","default":"UNKNOWN_GEO_SHAPE_TYPE","enum":["UNKNOWN_GEO_SHAPE_TYPE","POINT","LINE_STRING","POLYGON","MULTI_POINT","MULTI_LINE_STRING"]},"elasticimmoGetAdsByIdRequest":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}},"excludedFields":{"type":"array","items":{"type":"string"}},"includedFields":{"type":"array","items":{"type":"string"}}}},"elasticimmoGetAdsByIdResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"context":{"type":"string"},"data":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/elasticimmoGetAdsByIdResponseResult"}},"internalDelay":{"type":"integer","format":"int64"}}},"elasticimmoGetAdsByIdResponseResult":{"type":"object","properties":{"ad":{"$ref":"#/components/schemas/elasticimmoAd"},"found":{"type":"boolean"}}},"elasticimmoGlazingType":{"type":"string","default":"GLAZING_TYPE_UNKNOWN","enum":["GLAZING_TYPE_UNKNOWN","GLAZING_TYPE_SIMPLE","GLAZING_TYPE_DOUBLE","GLAZING_TYPE_TRIPLE"]},"elasticimmoGoogleInfo":{"type":"object","properties":{"name":{"type":"string"},"title":{"type":"string"},"url":{"type":"string"},"companyType":{"type":"string"},"companyCategory":{"type":"string"},"companySubTypes":{"type":"string"},"ctaUrl":{"type":"string"},"category":{"type":"string"},"rating":{"type":"number","format":"double"},"about":{"type":"object","additionalProperties":{"type":"string"}},"description":{"type":"string"},"reviews":{"$ref":"#/components/schemas/elasticimmoGoogleInfoReviews"},"workingHours":{"$ref":"#/components/schemas/elasticimmoGoogleInfoWorkingHours"},"businessStatus":{"type":"string"},"id":{"type":"string"},"plusCode":{"type":"string"},"timeZone":{"type":"string"},"cid":{"type":"string"},"ownerId":{"type":"string"},"query":{"type":"string"},"location":{"$ref":"#/components/schemas/elasticimmoLocation"},"medias":{"$ref":"#/components/schemas/elasticimmoGoogleInfoMedias"}}},"elasticimmoGoogleInfoByDay":{"type":"object","properties":{"monday":{"type":"string"},"tuesday":{"type":"string"},"wednesday":{"type":"string"},"thursday":{"type":"string"},"friday":{"type":"string"},"saturday":{"type":"string"},"sunday":{"type":"string"}}},"elasticimmoGoogleInfoMedias":{"type":"object","properties":{"photosCount":{"type":"integer","format":"int64"},"mainPhotoUrl":{"type":"string"},"streetViewUrl":{"type":"string"},"logo":{"type":"string"}}},"elasticimmoGoogleInfoReviews":{"type":"object","properties":{"scoring":{"$ref":"#/components/schemas/GoogleInfoReviewsPerScore"},"id":{"type":"string"},"link":{"type":"string"},"count":{"type":"integer","format":"int64"},"tags":{"type":"array","items":{"type":"string"}}}},"elasticimmoGoogleInfoWorkingHours":{"type":"object","properties":{"byDay":{"$ref":"#/components/schemas/elasticimmoGoogleInfoByDay"},"flatFormat":{"type":"string"},"otherHours":{"type":"object","additionalProperties":{"type":"string"}}}},"elasticimmoGreenhouseClassification":{"type":"string","default":"GREENHOUSE_CLASSIFICATION_UNKNOWN","enum":["GREENHOUSE_CLASSIFICATION_UNKNOWN","GREENHOUSE_CLASSIFICATION_G","GREENHOUSE_CLASSIFICATION_F","GREENHOUSE_CLASSIFICATION_E","GREENHOUSE_CLASSIFICATION_D","GREENHOUSE_CLASSIFICATION_C","GREENHOUSE_CLASSIFICATION_B","GREENHOUSE_CLASSIFICATION_A","GREENHOUSE_CLASSIFICATION_NC"]},"elasticimmoH3Index":{"title":"H3Index","type":"object","properties":{"h3Index1":{"type":"string"},"h3Index2":{"type":"string"},"h3Index3":{"type":"string"},"h3Index4":{"type":"string"},"h3Index5":{"type":"string"},"h3Index6":{"type":"string"},"h3Index7":{"type":"string"},"h3Index8":{"type":"string"},"h3Index9":{"type":"string"},"h3Index10":{"type":"string"},"h3Index11":{"type":"string"},"h3Index12":{"type":"string"}},"description":"Hierarchical Geobased data-representation. This create a grid of the world with a certain level of details depending on the actual picked index. Please see more here: https://h3geo.org/docs/core-library/restable"},"elasticimmoHeatType":{"type":"string","default":"HEAT_TYPE_UNKNOWN","enum":["HEAT_TYPE_UNKNOWN","HEAT_TYPE_INDIVIDUAL","HEAT_TYPE_SHARED","HEAT_TYPE_MIXED","HEAT_TYPE_CITY","HEAT_TYPE_CISTERN"]},"elasticimmoHeatTypeDetail":{"type":"string","default":"HEAT_DETAIL_UNKNOWN","enum":["HEAT_DETAIL_UNKNOWN","HEAT_DETAIL_FLOOR","HEAT_DETAIL_CEILING","HEAT_DETAIL_FIREPLACE","HEAT_DETAIL_INSERT","HEAT_DETAIL_AIR_CON","HEAT_DETAIL_RADIANTS_TUBES","HEAT_DETAIL_RADIATOR","HEAT_DETAIL_SHEATHS","HEAT_DETAIL_CONVECTOR"]},"elasticimmoHeating":{"type":"string","default":"HEATING_UNKNOWN","enum":["HEATING_UNKNOWN","HEATING_FUEL_OIL","HEATING_ELECTRICAL","HEATING_GAS","HEATING_BIOMASS","HEATING_SOLAR","HEATING_GEOTHERMAL","HEATING_WOOD","HEATING_HEAT_PUMP","HEATING_PELLET","HEATING_CANADIAN_WELL","HEATING_COAL"]},"elasticimmoHistory":{"type":"object","properties":{"seenAt":{"type":"string","format":"date-time"},"price":{"type":"number","format":"double"},"pricePerArea":{"type":"number","format":"double"},"daysSinceFirstSeen":{"type":"number","format":"double"},"source":{"$ref":"#/components/schemas/elasticimmoSource"}}},"elasticimmoImage":{"type":"object","properties":{"imageId":{"type":"string"},"url":{"type":"string"},"s3Path":{"type":"string"},"gaussianHash":{"type":"string"},"perceptualHash":{"type":"string"},"meanHash":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"caption":{"type":"string"},"room":{"$ref":"#/components/schemas/ImageRoom"}}},"elasticimmoIntRange":{"type":"object","properties":{"min":{"type":"integer","format":"int32"},"max":{"type":"integer","format":"int32"}}},"elasticimmoKitchenEquipped":{"type":"string","default":"KITCHEN_UNKNOWN_EQUIPPED","enum":["KITCHEN_UNKNOWN_EQUIPPED","KITCHEN_NON_EQUIPPED","KITCHEN_PARTIALLY_EQUIPPED","KITCHEN_FULLY_EQUIPPED","KITCHEN_FURNISHED","KITCHEN_NAKED","KITCHEN_EQUIPPED_FURNISHED"]},"elasticimmoLandType":{"type":"string","default":"LAND_UNKNOWN","enum":["LAND_UNKNOWN","LAND_BUILDING_PLOT","LAND_AGRICULTURAL","LAND_VINEYARD","LAND_INDUSTRIAL","LAND_POND","LAND_FOREST"]},"elasticimmoLightSeller":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/elasticimmoSellerType"},"flxId":{"type":"string"},"name":{"type":"string"},"siren":{"type":"string"}}},"elasticimmoLocation":{"type":"object","properties":{"address":{"$ref":"#/components/schemas/elasticimmoAddress"},"postalCode":{"type":"string"},"inseeCode":{"type":"string"},"irisCode":{"type":"string"},"department":{"type":"string"},"city":{"type":"string"},"locationCoordinate":{"$ref":"#/components/schemas/elasticimmoCompleteLatLng"},"cityCoordinate":{"$ref":"#/components/schemas/elasticimmoCompleteLatLng"}}},"elasticimmoMatchAlertAdsRequest":{"type":"object","properties":{"adIds":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/elasticimmoAlertMatch"}}}},"elasticimmoMatchAlertPropertiesRequest":{"type":"object","properties":{"propertyIds":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/elasticimmoAlertMatch"}}}},"elasticimmoMatchAlertResponse":{"type":"object","properties":{"matchs":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/MatchAlertResponseAlert"}}}},"elasticimmoMaterial":{"type":"string","default":"MATERIAL_UNKNOWN","enum":["MATERIAL_UNKNOWN","MATERIAL_WOODEN","MATERIAL_STEEL","MATERIAL_STONE","MATERIAL_PVC","MATERIAL_CONCRETE","MATERIAL_ALUMINIUM","MATERIAL_HALF_TIMBERED","MATERIAL_MARBLE","MATERIAL_BRICK","MATERIAL_CINDER_BLOCK","MATERIAL_PREFABRICATED","MATERIAL_ADOBE","MATERIAL_COATING"]},"elasticimmoMedias":{"type":"object","properties":{"virtualVisitExternalUrl":{"type":"array","items":{"type":"string"}},"images":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoImage"}}}},"elasticimmoMeta":{"type":"object","properties":{"firstSeenAt":{"type":"string","format":"date-time"},"lastUpdatedAt":{"type":"string","format":"date-time"},"firstPublishedAt":{"type":"string","format":"date-time"},"lastPublishedAt":{"type":"string","format":"date-time"},"lastSeenAt":{"type":"string","format":"date-time"},"isTotallyOffline":{"type":"boolean"},"totallyOfflineAt":{"type":"string","format":"date-time"}}},"elasticimmoOffer":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/elasticimmoPropertyOfferType"},"renting":{"$ref":"#/components/schemas/elasticimmoOfferRentingContract"},"isCurrentlyOccupied":{"type":"boolean"}}},"elasticimmoOfferRentingContract":{"type":"object","properties":{"isSubLease":{"type":"boolean"},"isShortTerm":{"type":"boolean"},"isLongTerm":{"type":"boolean"},"isColocation":{"type":"boolean"}}},"elasticimmoParkingType":{"type":"string","default":"PARKING_UNKNOWN","enum":["PARKING_UNKNOWN","PARKING_GARAGE","PARKING_PARKING"]},"elasticimmoPrice":{"type":"object","properties":{"latest":{"$ref":"#/components/schemas/elasticimmoPropertyPrice"},"lowest":{"$ref":"#/components/schemas/elasticimmoPropertyPrice"},"highest":{"$ref":"#/components/schemas/elasticimmoPropertyPrice"},"initial":{"$ref":"#/components/schemas/elasticimmoPropertyPrice"},"warrantyDeposit":{"type":"number","format":"double"},"charges":{"$ref":"#/components/schemas/elasticimmoCharges"},"isAuction":{"type":"boolean"},"scope":{"$ref":"#/components/schemas/elasticimmoPricingScope"},"currency":{"$ref":"#/components/schemas/elasticimmoCurrency"},"variation":{"$ref":"#/components/schemas/elasticimmoVariation"}}},"elasticimmoPricingScope":{"type":"string","default":"PRICING_ONE_OFF","enum":["PRICING_ONE_OFF","PRICING_MENSUAL"]},"elasticimmoProperty":{"type":"object","properties":{"firstKnownAdFlxId":{"type":"string"},"flxId":{"type":"string"},"indexTimestamp":{"type":"string","format":"date-time"},"firstKnownAdLegacyId":{"type":"string"},"meta":{"$ref":"#/components/schemas/elasticimmoMeta"},"title":{"type":"string"},"description":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"medias":{"$ref":"#/components/schemas/elasticimmoMedias"},"isUrgent":{"type":"boolean"},"offer":{"$ref":"#/components/schemas/elasticimmoOffer"},"type":{"$ref":"#/components/schemas/elasticimmoPropertyClass"},"process":{"$ref":"#/components/schemas/elasticimmoPropertyProcess"},"price":{"$ref":"#/components/schemas/elasticimmoPrice"},"habitation":{"$ref":"#/components/schemas/elasticimmoTypeHabitation"},"parking":{"$ref":"#/components/schemas/elasticimmoTypeParking"},"land":{"$ref":"#/components/schemas/elasticimmoTypeLand"},"location":{"$ref":"#/components/schemas/elasticimmoLocation"},"history":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoHistory"}},"adverts":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoAdvert"}},"isCityCenter":{"type":"boolean"},"hasAnomaly":{"type":"boolean"},"anomalies":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoAnomaly"}},"estimatedPrice":{"$ref":"#/components/schemas/elasticimmoPropertyPrice"},"imagesLength":{"type":"integer","format":"int32"},"advertsLength":{"type":"integer","format":"int32"},"historyLength":{"type":"integer","format":"int32"},"websiteRefs":{"type":"array","items":{"type":"string"}}}},"elasticimmoPropertyAlert":{"type":"object","properties":{"alert":{"$ref":"#/components/schemas/elasticimmoSearchPropertiesQuery"},"isActive":{"type":"boolean"},"match":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoAlertMatch"}}}},"elasticimmoPropertyByAdvertIdRequest":{"title":"PropertyByAdvertIdRequest","type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}},"excludedFields":{"type":"array","items":{"type":"string"}},"includedFields":{"type":"array","items":{"type":"string"}}}},"elasticimmoPropertyByIdRequest":{"title":"PropertyByIdRequest","type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}},"excludedFields":{"type":"array","items":{"type":"string"}},"includedFields":{"type":"array","items":{"type":"string"}}}},"elasticimmoPropertyByIdResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"context":{"type":"string"},"data":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/elasticimmoPropertyByIdResponseResult"}},"internalDelay":{"type":"integer","format":"int64"}}},"elasticimmoPropertyByIdResponseResult":{"type":"object","properties":{"property":{"$ref":"#/components/schemas/elasticimmoProperty"},"found":{"type":"boolean"}}},"elasticimmoPropertyClass":{"type":"string","default":"CLASS_UNKNOWN","enum":["CLASS_UNKNOWN","CLASS_HOUSE","CLASS_FLAT","CLASS_PROGRAM","CLASS_SHOP","CLASS_PREMISES","CLASS_OFFICE","CLASS_LAND","CLASS_BUILDING","CLASS_PARKING"]},"elasticimmoPropertyCondition":{"type":"object","properties":{"interiorCondition":{"$ref":"#/components/schemas/elasticimmoPropertyInteriorCondition"},"constructionYear":{"type":"integer","format":"int32"},"generalConditions":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoPropertyGeneralCondition"}},"renovationYear":{"type":"integer","format":"int32"}}},"elasticimmoPropertyGeneralCondition":{"type":"string","default":"GENERAL_CONDITION_UNKNOWN","enum":["GENERAL_CONDITION_UNKNOWN","GENERAL_CONDITION_TO_BE_RENOVATED","GENERAL_CONDITION_BRAND_NEW","GENERAL_CONDITION_RENOVATED","GENERAL_CONDITION_TO_BE_REFRESHED","GENERAL_CONDITION_GOOD","GENERAL_CONDITION_EXCELLENT","GENERAL_CONDITION_DECREPIT","GENERAL_CONDITION_TO_BE_BUILT"]},"elasticimmoPropertyInteriorCondition":{"type":"string","default":"INTERIOR_CONDITION_UNKNOWN","enum":["INTERIOR_CONDITION_UNKNOWN","INTERIOR_CONDITION_EXCELLENT","INTERIOR_CONDITION_TO_REFRESH","INTERIOR_CONDITION_SMALL_WORKS_TO_BE_PLANNED","INTERIOR_CONDITION_MAJOR_WORKS_TO_BE_PALLNED","INTERIOR_CONDITION_BRAND_NEW","INTERIOR_CONDITION_GOOD_CONDITION","INTERIOR_CONDITION_TO_BE_RENOVATED"]},"elasticimmoPropertyOfferType":{"title":"Property and ad info","type":"string","default":"OFFER_UNKNOWN","enum":["OFFER_UNKNOWN","OFFER_BUY","OFFER_RENT","OFFER_BUSINESS_TAKE_OVER","OFFER_LEASE_BACK","OFFER_LIFE_ANNUITY_SALE","OFFER_HOLIDAYS"]},"elasticimmoPropertyPrice":{"type":"object","properties":{"value":{"type":"number","format":"double"},"valuePerArea":{"type":"number","format":"double"},"source":{"$ref":"#/components/schemas/elasticimmoSource"}}},"elasticimmoPropertyProcess":{"type":"string","default":"PROCESS_UNKNOWN","enum":["PROCESS_UNKNOWN","PROCESS_AVAILABLE_ON_MARKET","PROCESS_UNDER_COMPROMISE","PROCESS_RENTED_SOLD","PROCESS_REMOVED","PROCESS_RESERVED","PROCESS_ARCHIVED"]},"elasticimmoPropertyTypeHabitation":{"type":"string","default":"PROPERTY_TYPE_UNKNOWN","enum":["PROPERTY_TYPE_UNKNOWN","PROPERTY_TYPE_STUDIO","PROPERTY_TYPE_T1","PROPERTY_TYPE_T1_T2","PROPERTY_TYPE_T2","PROPERTY_TYPE_T2_T3","PROPERTY_TYPE_T3","PROPERTY_TYPE_T3_4","PROPERTY_TYPE_T4","PROPERTY_TYPE_T4_5","PROPERTY_TYPE_T5_MORE","PROPERTY_TYPE_LOFT","PROPERTY_TYPE_DUPLEX","PROPERTY_TYPE_INDIVIDUAL","PROPERTY_TYPE_TRADITIONAL","PROPERTY_TYPE_CONTEMPORARY","PROPERTY_TYPE_BOURGEOIS","PROPERTY_TYPE_VILLA","PROPERTY_TYPE_MANOR","PROPERTY_TYPE_CASTLE","PROPERTY_TYPE_FARM","PROPERTY_TYPE_MAS","PROPERTY_TYPE_BASTIDE","PROPERTY_TYPE_CHALET","PROPERTY_TYPE_ANCIENT","PROPERTY_TYPE_HERITAGE_LISTED","PROPERTY_TYPE_BUNGALOW","PROPERTY_TYPE_STUDETTE"]},"elasticimmoRaiseIssueResponse":{"type":"object","properties":{"status":{"$ref":"#/components/schemas/rpcStatus"}}},"elasticimmoRoomType":{"type":"string","default":"ROOM_TYPE_UNKNOWN","enum":["ROOM_TYPE_UNKNOWN","ROOM_TYPE_MASTER_BEDROOM","ROOM_TYPE_BEDROOM","ROOM_TYPE_KITCHEN","ROOM_TYPE_LIVING_ROOM","ROOM_TYPE_OFFICE"]},"elasticimmoRoomsDetails":{"type":"object","properties":{"roomType":{"$ref":"#/components/schemas/elasticimmoRoomType"},"area":{"type":"number","format":"double"},"floor":{"type":"integer","format":"int32"},"contextInfo":{"type":"array","items":{"type":"string"}}}},"elasticimmoSearchAdByURLRequest":{"type":"object","properties":{"url":{"type":"string"},"excludedFields":{"type":"array","items":{"type":"string"}},"includedFields":{"type":"array","items":{"type":"string"}}}},"elasticimmoSearchAdByURLResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"context":{"type":"string"},"data":{"$ref":"#/components/schemas/elasticimmoAd"},"internalDelay":{"type":"integer","format":"int64"}}},"elasticimmoSearchAdsQuery":{"type":"object","properties":{"fullTexts":{"type":"array","items":{"type":"string"}},"keywords":{"type":"array","items":{"type":"string"}},"filterAd":{"$ref":"#/components/schemas/elasticimmoFilterAd"}}},"elasticimmoSearchAdsRequest":{"type":"object","properties":{"search":{"$ref":"#/components/schemas/elasticimmoSearchAdsQuery"},"searchAfter":{"type":"array","items":{"type":"string"}},"sortBy":{"$ref":"#/components/schemas/elasticimmoSearchAdsRequestSortBy"},"orderBy":{"$ref":"#/components/schemas/elasticimmoSearchAdsRequestOrderBy"},"size":{"type":"integer","format":"int32"},"excludedFields":{"type":"array","items":{"type":"string"}},"includedFields":{"type":"array","items":{"type":"string"}}}},"elasticimmoSearchAdsRequestOrderBy":{"type":"string","default":"ASC","enum":["ASC","DESC"]},"elasticimmoSearchAdsRequestSortBy":{"type":"string","default":"RELEVANCE","enum":["RELEVANCE","PRICE","FIRST_SEEN_AT","LAST_UPDATED_AT","LAST_SEEN_AT"]},"elasticimmoSearchAdsResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"context":{"type":"string"},"data":{"$ref":"#/components/schemas/elasticimmoSearchAdsResponseSearchData"},"internalDelay":{"type":"integer","format":"int64"},"count":{"type":"integer","format":"int64"}}},"elasticimmoSearchAdsResponseSearchData":{"type":"object","properties":{"results":{"$ref":"#/components/schemas/elasticimmoAdImmo"},"searchAfter":{"type":"array","items":{"type":"string"}}}},"elasticimmoSearchDuplicatedPropertiesRequest":{"title":"Duplicate","type":"object","properties":{"thresholdSimilarity":{"type":"number","format":"double"},"ads":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoAd"}},"excludedFields":{"type":"array","items":{"type":"string"}},"includedFields":{"type":"array","items":{"type":"string"}}}},"elasticimmoSearchDuplicatedPropertiesResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"context":{"type":"string"},"data":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/SearchDuplicatedPropertiesResponseDuplicate"}},"internalDelay":{"type":"integer","format":"int64"}}},"elasticimmoSearchPropertiesQuery":{"type":"object","properties":{"fullTexts":{"type":"array","items":{"type":"string"}},"keywords":{"type":"array","items":{"type":"string"}},"filterProperty":{"$ref":"#/components/schemas/elasticimmoFilterProperty"}}},"elasticimmoSearchPropertiesRequest":{"title":"Search","type":"object","properties":{"search":{"$ref":"#/components/schemas/elasticimmoSearchPropertiesQuery"},"searchAfter":{"type":"array","items":{"type":"string"}},"sortBy":{"$ref":"#/components/schemas/elasticimmoSearchPropertiesRequestSortBy"},"orderBy":{"$ref":"#/components/schemas/elasticimmoSearchPropertiesRequestOrderBy"},"size":{"type":"integer","format":"int32"},"excludedFields":{"type":"array","items":{"type":"string"}},"includedFields":{"type":"array","items":{"type":"string"}}}},"elasticimmoSearchPropertiesRequestOrderBy":{"type":"string","default":"ASC","enum":["ASC","DESC"]},"elasticimmoSearchPropertiesRequestSortBy":{"type":"string","default":"RELEVANCE","enum":["RELEVANCE","PRICE","FIRST_SEEN_AT","LAST_UPDATED_AT","LAST_SEEN_AT"]},"elasticimmoSearchPropertiesResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"context":{"type":"string"},"data":{"$ref":"#/components/schemas/elasticimmoSearchPropertiesResponseSearchData"},"internalDelay":{"type":"integer","format":"int64"},"count":{"type":"integer","format":"int64"}}},"elasticimmoSearchPropertiesResponseSearchData":{"type":"object","properties":{"results":{"$ref":"#/components/schemas/elasticimmoDataImmo"},"searchAfter":{"type":"array","items":{"type":"string"}}}},"elasticimmoSearchPropertyByURLRequest":{"type":"object","properties":{"url":{"type":"string"},"excludedFields":{"type":"array","items":{"type":"string"}},"includedFields":{"type":"array","items":{"type":"string"}}}},"elasticimmoSearchPropertyByURLResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"context":{"type":"string"},"data":{"$ref":"#/components/schemas/elasticimmoProperty"},"internalDelay":{"type":"integer","format":"int64"}}},"elasticimmoSearchSellersData":{"type":"object","properties":{"results":{"$ref":"#/components/schemas/elasticimmoDataSeller"},"searchAfter":{"type":"array","items":{"type":"string"}}}},"elasticimmoSearchSellersQuery":{"type":"object","properties":{"fullAddress":{"type":"string"},"fullTexts":{"type":"array","items":{"type":"string"}},"keywords":{"type":"array","items":{"type":"string"}},"filterSeller":{"$ref":"#/components/schemas/elasticimmoFilterSeller"}}},"elasticimmoSearchSellersRequest":{"type":"object","properties":{"search":{"$ref":"#/components/schemas/elasticimmoSearchSellersQuery"},"searchAfter":{"type":"array","items":{"type":"string"}},"sortBy":{"$ref":"#/components/schemas/elasticimmoSearchSellersRequestSortBy"},"orderBy":{"$ref":"#/components/schemas/elasticimmoSearchSellersRequestOrderBy"},"size":{"type":"integer","format":"int32"}}},"elasticimmoSearchSellersRequestOrderBy":{"type":"string","default":"ASC","enum":["ASC","DESC"]},"elasticimmoSearchSellersRequestSortBy":{"type":"string","default":"RELEVANCE","enum":["RELEVANCE","AGENCY_CREATION_AT","AGENCY_MODIFIED_AT","REVIEW_SCORE","INDEXED_AT"]},"elasticimmoSearchSellersResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"context":{"type":"string"},"data":{"$ref":"#/components/schemas/elasticimmoSearchSellersData"},"internalDelay":{"type":"integer","format":"int64"}}},"elasticimmoSeller":{"title":"Seller","type":"object","properties":{"indexTimestamp":{"type":"string","format":"date-time"},"indexUpdatedAt":{"type":"string","format":"date-time"},"flxId":{"type":"string"},"externalId":{"type":"string"},"isConsolidated":{"type":"boolean"},"type":{"$ref":"#/components/schemas/elasticimmoSellerType"},"namespace":{"type":"string"},"name":{"type":"string"},"consolidated":{"$ref":"#/components/schemas/elasticimmoSellerInfo"},"google":{"$ref":"#/components/schemas/elasticimmoGoogleInfo"}},"description":"End-user friendly representation of a real-estate seller."},"elasticimmoSellerContact":{"type":"object","properties":{"fax":{"type":"string"},"phone":{"type":"string"},"lastName":{"type":"string"},"firstName":{"type":"string"},"skypeName":{"type":"string"},"mobilePhone":{"type":"string"},"name":{"type":"string"}}},"elasticimmoSellerImage":{"type":"object","properties":{"imageId":{"type":"string"},"sourceUrl":{"type":"string"},"s3Path":{"type":"string"}}},"elasticimmoSellerInfo":{"type":"object","properties":{"company":{"$ref":"#/components/schemas/elasticimmoCompanyInfo"},"contact":{"$ref":"#/components/schemas/elasticimmoSellerContact"},"network":{"$ref":"#/components/schemas/SellerNetworkInfo"},"affiliation":{"type":"array","items":{"$ref":"#/components/schemas/SellerAffiliation"}},"description":{"type":"string"},"agencyFeeUrl":{"type":"string"},"legalNotices":{"type":"string"},"textualOpeningHours":{"type":"string"},"image":{"$ref":"#/components/schemas/elasticimmoSellerImage"},"backgroundImage":{"$ref":"#/components/schemas/elasticimmoSellerImage"},"watermark":{"$ref":"#/components/schemas/elasticimmoSellerImage"},"displayName":{"type":"string"},"position":{"$ref":"#/components/schemas/SellerPosition"},"corporateName":{"type":"string"},"cardNumber":{"type":"string"}}},"elasticimmoSellerType":{"type":"string","default":"SELLER_TYPE_UNKNOWN","enum":["SELLER_TYPE_UNKNOWN","SELLER_TYPE_AGENCY","SELLER_TYPE_NETWORK"]},"elasticimmoSimilarPropertiesRequest":{"type":"object","properties":{"flxId":{"type":"string"},"similarityStrategy":{"$ref":"#/components/schemas/SimilarPropertiesRequestSimilarityStrategy"},"size":{"type":"integer","format":"int32"},"excludedFields":{"type":"array","items":{"type":"string"}},"includedFields":{"type":"array","items":{"type":"string"}}}},"elasticimmoSimilarPropertiesResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"context":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoProperty"}},"internalDelay":{"type":"integer","format":"int64"}}},"elasticimmoSource":{"type":"object","properties":{"website":{"type":"string"},"url":{"type":"string"},"flxId":{"type":"string"}}},"elasticimmoSurface":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"livingSpace":{"type":"integer","format":"int64"},"floorSpace":{"type":"integer","format":"int64"},"livingRoom":{"type":"integer","format":"int64"},"kitchen":{"type":"integer","format":"int64"},"groundFloor":{"type":"integer","format":"int64"},"balconies":{"type":"integer","format":"int64"},"terraces":{"type":"integer","format":"int64"},"gardens":{"type":"integer","format":"int64"}}},"elasticimmoTypeHabitation":{"type":"object","properties":{"type":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoPropertyTypeHabitation"}},"roomCount":{"type":"integer","format":"int32"},"bedroomCount":{"type":"integer","format":"int32"},"bathroomCount":{"type":"integer","format":"int32"},"wcCount":{"type":"integer","format":"int32"},"roomsDetails":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoRoomsDetails"}},"heatTypes":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoHeatType"}},"heatTypeDetails":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoHeatTypeDetail"}},"heatings":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoHeating"}},"kitchenEquipped":{"$ref":"#/components/schemas/elasticimmoKitchenEquipped"},"features":{"$ref":"#/components/schemas/elasticimmoFeatures"},"characteristics":{"$ref":"#/components/schemas/elasticimmoCharacteristics"},"climate":{"$ref":"#/components/schemas/elasticimmoClimate"},"propertyCondition":{"$ref":"#/components/schemas/elasticimmoPropertyCondition"},"surface":{"$ref":"#/components/schemas/elasticimmoSurface"}}},"elasticimmoTypeLand":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/elasticimmoLandType"},"hasBuildingPermit":{"type":"boolean"},"canConstruct":{"type":"boolean"},"surfaceConstructable":{"type":"integer","format":"int32"},"surface":{"type":"integer","format":"int32"},"isServiced":{"type":"boolean"},"hasWater":{"type":"boolean"},"hasElectricity":{"type":"boolean"},"hasTelecom":{"type":"boolean"}}},"elasticimmoTypeParking":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/elasticimmoParkingType"},"count":{"type":"integer","format":"int32"},"numberOfCars":{"type":"integer","format":"int32"},"surface":{"type":"integer","format":"int32"}}},"elasticimmoUnstructuredData":{"type":"object","properties":{"data":{"type":"object","additionalProperties":{"type":"string"}}}},"elasticimmoUpdateAdsOnlineRequest":{"title":"AdsOnline","type":"object","properties":{"auditCreatedAt":{"type":"string","format":"date-time"},"adsOnline":{"type":"object","additionalProperties":{"type":"boolean"}}}},"elasticimmoUpdateAdsPriceRequest":{"title":"UpdatePrice","type":"object","properties":{"adPrice":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/elasticimmoHistory"}}}},"elasticimmoUpdateAdsResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"properties":{"$ref":"#/components/schemas/UpdateAdsResponseUpdateProperties"},"ads":{"$ref":"#/components/schemas/UpdateAdsResponseUpdateAds"},"internalDelay":{"type":"integer","format":"int64"}}},"elasticimmoUpsertAdsRequest":{"type":"object","properties":{"ads":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoAd"}}}},"elasticimmoUpsertAdsResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"properties":{"$ref":"#/components/schemas/UpsertAdsResponseInsertProperty"},"ads":{"$ref":"#/components/schemas/UpsertAdsResponseInsertAd"},"kind":{"type":"string"}}},"elasticimmoUpsertSellersRequest":{"type":"object","properties":{"sellers":{"type":"array","items":{"$ref":"#/components/schemas/elasticimmoSeller"}}}},"elasticimmoUpsertSellersResponse":{"type":"object","properties":{"kind":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"created":{"type":"array","items":{"type":"string"}},"updated":{"type":"array","items":{"type":"string"}},"failed":{"type":"array","items":{"type":"string"}},"apiVersion":{"type":"string"}}},"elasticimmoVariation":{"type":"object","properties":{"sincePublished":{"type":"number","format":"double"},"sinceLastModified":{"type":"number","format":"double"},"absoluteSincePublished":{"type":"number","format":"double"},"absoluteSinceLastModified":{"type":"number","format":"double"}}},"elasticimmoViewOn":{"type":"string","default":"VIEW_ON_UNKNOWN","enum":["VIEW_ON_UNKNOWN","VIEW_ON_SEA","VIEW_ON_HILLS","VIEW_ON_RIVERS","VIEW_ON_CITY","VIEW_ON_PARK","VIEW_ON_VERDURE","VIEW_ON_STREET","VIEW_ON_COURTYARD","VIEW_ON_COUNTRYSIDE","VIEW_ON_MOUNTAIN","VIEW_ON_GARDEN_TERRACE","VIEW_ON_LAKE","VIEW_ON_SKI_SLOPES","VIEW_ON_PORT","VIEW_ON_POI","VIEW_ON_SKY","VIEW_ON_WATER","VIEW_ON_VINEYARD","VIEW_ON_ROOF"]},"elasticimmoViewType":{"type":"string","default":"VIEW_TYPE_UNKNOWN","enum":["VIEW_TYPE_UNKNOWN","VIEW_TYPE_GLIMPSE","VIEW_TYPE_PANORAMIC","VIEW_TYPE_CLEAR","VIEW_TYPE_EXCEPTIONAL","VIEW_TYPE_DOMINANT"]},"protobufAny":{"type":"object","properties":{"@type":{"type":"string","description":"A URL/resource name that uniquely identifies the type of the serialized protocol buffer message. This string must contain at least one \"/\" character. The last segment of the URL's path must represent the fully qualified name of the type (as in `path/google.protobuf.Duration`). The name should be in a canonical form (e.g., leading \".\" is not accepted). In practice, teams usually precompile into the binary all types that they expect it to use in the context of Any. However, for URLs which use the scheme `http`, `https`, or no scheme, one can optionally set up a type server that maps type URLs to message definitions as follows: README.md _snippets api-ai-reference api-analytics-reference api-geography-reference api-maps-reference api-search-alert-reference authentification.mdx doc favicon.png gen_swagger_analytics.sh gen_swagger_api_v2.sh gen_swagger_city.sh gen_swagger_dvf.sh gen_swagger_elasticimmo.sh gen_swagger_geography.sh gen_swagger_maps.sh images introduction.mdx mint.json swagger-analytics.json swagger-api-v2.json swagger-city.json swagger-dvf.json swagger-elasticimmo.json swagger-geography.json swagger-maps.json tmp.txt If no scheme is provided, `https` is assumed. README.md _snippets api-ai-reference api-analytics-reference api-geography-reference api-maps-reference api-search-alert-reference authentification.mdx doc favicon.png gen_swagger_analytics.sh gen_swagger_api_v2.sh gen_swagger_city.sh gen_swagger_dvf.sh gen_swagger_elasticimmo.sh gen_swagger_geography.sh gen_swagger_maps.sh images introduction.mdx mint.json swagger-analytics.json swagger-api-v2.json swagger-city.json swagger-dvf.json swagger-elasticimmo.json swagger-geography.json swagger-maps.json tmp.txt An HTTP GET on the URL must yield a [google.protobuf.Type][] value in binary format, or produce an error. README.md _snippets api-ai-reference api-analytics-reference api-geography-reference api-maps-reference api-search-alert-reference authentification.mdx doc favicon.png gen_swagger_analytics.sh gen_swagger_api_v2.sh gen_swagger_city.sh gen_swagger_dvf.sh gen_swagger_elasticimmo.sh gen_swagger_geography.sh gen_swagger_maps.sh images introduction.mdx mint.json swagger-analytics.json swagger-api-v2.json swagger-city.json swagger-dvf.json swagger-elasticimmo.json swagger-geography.json swagger-maps.json tmp.txt Applications are allowed to cache lookup results based on the URL, or have them precompiled into a binary to avoid any lookup. Therefore, binary compatibility needs to be preserved on changes to types. (Use versioned type names to manage breaking changes.) Note: this functionality is not currently available in the official protobuf release, and it is not used for type URLs beginning with type.googleapis.com. Schemes other than `http`, `https` (or the empty scheme) might be used with implementation specific semantics."}},"additionalProperties":{"type":"object"},"description":"`Any` contains an arbitrary serialized protocol buffer message along with a URL that describes the type of the serialized message. Protobuf library provides support to pack/unpack Any values in the form of utility functions or additional generated methods of the Any type. Example 1: Pack and unpack a message in C++. Foo foo = ...; Any any; any.PackFrom(foo); ... if (any.UnpackTo(&foo)) { ... } Example 2: Pack and unpack a message in Java. Foo foo = ...; Any any = Any.pack(foo); ... if (any.is(Foo.class)) { foo = any.unpack(Foo.class); } // or ... if (any.isSameTypeAs(Foo.getDefaultInstance())) { foo = any.unpack(Foo.getDefaultInstance()); } Example 3: Pack and unpack a message in Python. foo = Foo(...) any = Any() any.Pack(foo) ... if any.Is(Foo.DESCRIPTOR): any.Unpack(foo) ... Example 4: Pack and unpack a message in Go foo := &pb.Foo{...} any, err := anypb.New(foo) if err != nil { ... } ... foo := &pb.Foo{} if err := any.UnmarshalTo(foo); err != nil { ... } The pack methods provided by protobuf library will by default use 'type.googleapis.com/full.type.name' as the type URL and the unpack methods only use the fully qualified type name after the last '/' in the type URL, for example \"foo.bar.com/x/y.z\" will yield type name \"y.z\". JSON The JSON representation of an `Any` value uses the regular representation of the deserialized, embedded message, with an additional field `@type` which contains the type URL. Example: package google.profile; message Person { string first_name = 1; string last_name = 2; } { \"@type\": \"type.googleapis.com/google.profile.Person\", \"firstName\": <string>, \"lastName\": <string> } If the embedded message type is well-known and has a custom JSON representation, that representation will be embedded adding a field `value` which holds the custom JSON in addition to the `@type` field. Example (for message [google.protobuf.Duration][]): { \"@type\": \"type.googleapis.com/google.protobuf.Duration\", \"value\": \"1.212s\" }"},"rpcStatus":{"type":"object","properties":{"code":{"type":"integer","description":"The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].","format":"int32"},"message":{"type":"string","description":"A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client."},"details":{"type":"array","description":"A list of messages that carry the error details. There is a common set of message types for APIs to use.","items":{"$ref":"#/components/schemas/protobufAny"}}},"description":"The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","description":"API Key used to be authentified to these APIs. Please contact Fluximmo to get one","name":"x-api-key","in":"header"}}},"x-original-swagger-version":"2.0"}
