{
  "openapi": "3.0.1",
  "info": {
    "title": "Fluximmo-BaaS",
    "description": "See more at fluximmo.com",
    "contact": {
      "name": "Fluximmo BaaS",
      "url": "https://fluximmo.com",
      "email": "contact@fluximmo.com"
    },
    "version": "1.1.0-beta"
  },
  "servers": [
    {
      "url": "https://api.f6o.io"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Geographies"
    }
  ],
  "paths": {
    "/experimental/geography/_geocoding": {
      "post": {
        "tags": [
          "Geographies"
        ],
        "summary": "Geocoding - Retrieve structured geo-related data from user-input.",
        "operationId": "Geographies_Geocoding",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/geographyGeocodingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/geographyGeocodingResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/experimental/geography/location/detect/_many": {
      "post": {
        "tags": [
          "Geographies"
        ],
        "summary": "DetectLocation - Extract from a text geographical reference and obtain related locations. Context is used to provide better results.",
        "operationId": "Geographies_DetectLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/geographyDetectLocationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/geographyDetectLocationResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/experimental/geography/reachability/_compute": {
      "post": {
        "tags": [
          "Geographies"
        ],
        "summary": "Reachability - Fetch reachable areas based on time or distance from or to a given point.",
        "operationId": "Geographies_Reachability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/geographyReachabilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/geographyReachabilityResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    }
  },
  "components": {
    "schemas": {
      "GeocodingRequestFilters": {
        "type": "object",
        "properties": {
          "postalCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "inseeCode": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "addressTypes": {
            "title": "Cadastre cadastre = 4; repeated PoiType poi_types = 5 [(validate.rules).repeated .unique = true];",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/geographyAddressType"
            }
          }
        }
      },
      "GeocodingResponseAddressItem": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "importance": {
            "type": "number",
            "format": "double"
          },
          "type": {
            "$ref": "#/components/schemas/geographyAddressType"
          },
          "location": {
            "$ref": "#/components/schemas/GeocodingResponseAddressItemLocation"
          }
        }
      },
      "GeocodingResponseAddressItemLocation": {
        "type": "object",
        "properties": {
          "postalCode": {
            "type": "string"
          },
          "inseeCode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "coordinate": {
            "$ref": "#/components/schemas/commonsLatLng"
          },
          "address": {
            "$ref": "#/components/schemas/elasticimmoAddress"
          }
        }
      },
      "GeocodingResponseLocationItem": {
        "title": "message PoiItem { message Location { repeated string cities = 2; repeated string cities_codes = 3; repeated string postal_codes = 4; commons.GeoObject geometry = 5; } PoiType type = 1; string label = 2; Location location = 3; }",
        "type": "object",
        "properties": {
          "ID": {
            "type": "string"
          },
          "score": {
            "type": "number",
            "format": "double"
          },
          "kind": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/GeocodingResponseAddressItem"
          }
        }
      },
      "ReachabilityRequestConstraint": {
        "type": "string",
        "default": "UNKNOWN_CONSTRAINT",
        "enum": [
          "UNKNOWN_CONSTRAINT",
          "AVOID_TOLLS_CONSTRAINT",
          "AVOID_TUNNELS_CONSTRAINT",
          "AVOID_BRIDGES_CONSTRAINT"
        ]
      },
      "ReachabilityRequestCostType": {
        "type": "string",
        "default": "UNKNOWN_COST_TYPE",
        "enum": [
          "UNKNOWN_COST_TYPE",
          "TIME_COST_TYPE",
          "DISTANCE_COST_TYPE"
        ]
      },
      "ReachabilityRequestDirectionType": {
        "type": "string",
        "default": "UNKNOWN_DIRECTION_TYPE",
        "enum": [
          "UNKNOWN_DIRECTION_TYPE",
          "ARRIVAL_DIRECTION_TYPE",
          "DEPARTURE_DIRECTION_TYPE"
        ]
      },
      "ReachabilityRequestProfileType": {
        "type": "string",
        "default": "UNKNOWN_PROFILE_TYPE",
        "enum": [
          "UNKNOWN_PROFILE_TYPE",
          "CAR_PROFILE_TYPE",
          "PEDESTRIAN_PROFILE_TYPE"
        ]
      },
      "ReachabilityResponseResultGeoShape": {
        "title": "GeoShape",
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/elasticimmoGeoShapeType"
          },
          "shape": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResultLatLngList"
            }
          }
        },
        "description": "Filter documents indexed using. The behaviour of the GeoShape query depends on the type and relation defined. This have the same specs as the GeoJson RFC 7946 (read more here: https://geojson.org/)"
      },
      "ResultLatLngList": {
        "type": "object",
        "properties": {
          "coordinates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/commonsLatLng"
            }
          }
        }
      },
      "commonsLatLng": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
            "format": "double"
          },
          "lon": {
            "type": "number",
            "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
            "format": "double"
          }
        }
      },
      "elasticimmoAddress": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string"
          },
          "streetName": {
            "type": "string"
          }
        }
      },
      "elasticimmoGeoShapeType": {
        "type": "string",
        "default": "UNKNOWN_GEO_SHAPE_TYPE",
        "enum": [
          "UNKNOWN_GEO_SHAPE_TYPE",
          "POINT",
          "LINE_STRING",
          "POLYGON",
          "MULTI_POINT",
          "MULTI_LINE_STRING"
        ]
      },
      "geobufData": {
        "type": "object",
        "properties": {
          "keys": {
            "title": "global arrays of unique keys",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dimensions": {
            "title": "max coordinate dimensions",
            "type": "integer",
            "format": "int64"
          },
          "precision": {
            "title": "number of digits after decimal point for coordinates",
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "geobufDataValue": {
        "type": "object",
        "properties": {
          "stringValue": {
            "type": "string"
          },
          "doubleValue": {
            "type": "number",
            "format": "double"
          },
          "posIntValue": {
            "type": "string",
            "format": "uint64"
          },
          "negIntValue": {
            "type": "string",
            "format": "uint64"
          },
          "boolValue": {
            "type": "boolean"
          },
          "jsonValue": {
            "type": "string"
          }
        }
      },
      "geographyAddressType": {
        "type": "string",
        "default": "UNKNOWN_ADDRESS_TYPE",
        "enum": [
          "UNKNOWN_ADDRESS_TYPE",
          "HOUSE_NUMBER_ADDRESS_TYPE",
          "STREET_ADDRESS_TYPE",
          "LOCALITY_ADDRESS_TYPE",
          "MUNICIPALITY_ADDRESS_TYPE"
        ]
      },
      "geographyDetectLocationRequest": {
        "type": "object",
        "properties": {
          "cities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/geographyDetectLocationRequestLocatedKeyword"
            }
          },
          "size": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "geographyDetectLocationRequestLocatedKeyword": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "context": {
            "$ref": "#/components/schemas/geographyDetectLocationRequestLocatedKeywordContext"
          }
        }
      },
      "geographyDetectLocationRequestLocatedKeywordContext": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/commonsLatLng"
          }
        }
      },
      "geographyDetectLocationResponse": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/geographyDetectLocationResponseLocatedItem"
            }
          }
        }
      },
      "geographyDetectLocationResponseLocatedItem": {
        "type": "object",
        "properties": {
          "item": {
            "$ref": "#/components/schemas/geographyDetectLocationResponseLocatedItemResult"
          },
          "failed": {
            "$ref": "#/components/schemas/rpcStatus"
          }
        }
      },
      "geographyDetectLocationResponseLocatedItemResult": {
        "type": "object",
        "properties": {
          "matches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/geographyDetectLocationResponseLocatedItemResultMatch"
            }
          }
        }
      },
      "geographyDetectLocationResponseLocatedItemResultMatch": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "highlights": {
            "title": "GeoIndex geo_index = 3;",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/geographyHighLight"
            }
          }
        }
      },
      "geographyGeocodingRequest": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "filters": {
            "$ref": "#/components/schemas/GeocodingRequestFilters"
          },
          "context": {
            "$ref": "#/components/schemas/geographyGeocodingRequestContext"
          },
          "withGeometry": {
            "title": "repeated Index search_on = 5 [(validate.rules).repeated .unique = true];",
            "type": "boolean"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "geographyGeocodingRequestContext": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/commonsLatLng"
          }
        }
      },
      "geographyGeocodingResponse": {
        "title": "https://wxs.ign.fr/essentiels/alti/rest/elevationLine.{format} https://wxs.ign.fr/essentiels/alti/wps https://wxs.ign.fr/essentiels/alti/rest/elevation.{format} https://wxs.ign.fr/essentiels/look4/user",
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeocodingResponseLocationItem"
            }
          },
          "internalDelay": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "geographyHighLight": {
        "type": "object",
        "properties": {
          "posStart": {
            "type": "integer",
            "format": "int32"
          },
          "posEnd": {
            "type": "integer",
            "format": "int32"
          },
          "matchedValue": {
            "type": "string"
          }
        }
      },
      "geographyReachabilityRequest": {
        "type": "object",
        "properties": {
          "point": {
            "$ref": "#/components/schemas/commonsLatLng"
          },
          "costValue": {
            "type": "number",
            "format": "double"
          },
          "costType": {
            "$ref": "#/components/schemas/ReachabilityRequestCostType"
          },
          "profileType": {
            "$ref": "#/components/schemas/ReachabilityRequestProfileType"
          },
          "directionType": {
            "$ref": "#/components/schemas/ReachabilityRequestDirectionType"
          },
          "constraints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReachabilityRequestConstraint"
            }
          }
        }
      },
      "geographyReachabilityResponse": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "item": {
            "$ref": "#/components/schemas/geographyReachabilityResponseResult"
          },
          "internalDelay": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "geographyReachabilityResponseResult": {
        "type": "object",
        "properties": {
          "basedOn": {
            "type": "string",
            "format": "date-time"
          },
          "geoShape": {
            "$ref": "#/components/schemas/ReachabilityResponseResultGeoShape"
          }
        }
      },
      "protobufAny": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string",
            "description": "A URL/resource name that uniquely identifies the type of the serialized protocol buffer message. This string must contain at least one \"/\" character. The last segment of the URL's path must represent the fully qualified name of the type (as in `path/google.protobuf.Duration`). The name should be in a canonical form (e.g., leading \".\" is not accepted). In practice, teams usually precompile into the binary all types that they expect it to use in the context of Any. However, for URLs which use the scheme `http`, `https`, or no scheme, one can optionally set up a type server that maps type URLs to message definitions as follows: README.md _snippets api-analytics-reference api-city-reference api-dvf-reference api-experimental-reference api-geography-reference api-v2-reference authentification.mdx doc essentials favicon.png gen_swagger_analytics.sh gen_swagger_api_v2.sh gen_swagger_city.sh gen_swagger_dvf.sh gen_swagger_geography.sh gen_swagger_maps.sh images introduction.mdx logs.txt mint.json swagger-analytics.json swagger-api-v2.json swagger-city.json swagger-dvf.json swagger-geography.json swagger-maps.json If no scheme is provided, `https` is assumed. README.md _snippets api-analytics-reference api-city-reference api-dvf-reference api-experimental-reference api-geography-reference api-v2-reference authentification.mdx doc essentials favicon.png gen_swagger_analytics.sh gen_swagger_api_v2.sh gen_swagger_city.sh gen_swagger_dvf.sh gen_swagger_geography.sh gen_swagger_maps.sh images introduction.mdx logs.txt mint.json swagger-analytics.json swagger-api-v2.json swagger-city.json swagger-dvf.json swagger-geography.json swagger-maps.json An HTTP GET on the URL must yield a [google.protobuf.Type][] value in binary format, or produce an error. README.md _snippets api-analytics-reference api-city-reference api-dvf-reference api-experimental-reference api-geography-reference api-v2-reference authentification.mdx doc essentials favicon.png gen_swagger_analytics.sh gen_swagger_api_v2.sh gen_swagger_city.sh gen_swagger_dvf.sh gen_swagger_geography.sh gen_swagger_maps.sh images introduction.mdx logs.txt mint.json swagger-analytics.json swagger-api-v2.json swagger-city.json swagger-dvf.json swagger-geography.json swagger-maps.json Applications are allowed to cache lookup results based on the URL, or have them precompiled into a binary to avoid any lookup. Therefore, binary compatibility needs to be preserved on changes to types. (Use versioned type names to manage breaking changes.) Note: this functionality is not currently available in the official protobuf release, and it is not used for type URLs beginning with type.googleapis.com. Schemes other than `http`, `https` (or the empty scheme) might be used with implementation specific semantics."
          }
        },
        "additionalProperties": {
          "type": "object"
        },
        "description": "`Any` contains an arbitrary serialized protocol buffer message along with a URL that describes the type of the serialized message. Protobuf library provides support to pack/unpack Any values in the form of utility functions or additional generated methods of the Any type. Example 1: Pack and unpack a message in C++. Foo foo = ...; Any any; any.PackFrom(foo); ... if (any.UnpackTo(&foo)) { ... } Example 2: Pack and unpack a message in Java. Foo foo = ...; Any any = Any.pack(foo); ... if (any.is(Foo.class)) { foo = any.unpack(Foo.class); } // or ... if (any.isSameTypeAs(Foo.getDefaultInstance())) { foo = any.unpack(Foo.getDefaultInstance()); } Example 3: Pack and unpack a message in Python. foo = Foo(...) any = Any() any.Pack(foo) ... if any.Is(Foo.DESCRIPTOR): any.Unpack(foo) ... Example 4: Pack and unpack a message in Go foo := &pb.Foo{...} any, err := anypb.New(foo) if err != nil { ... } ... foo := &pb.Foo{} if err := any.UnmarshalTo(foo); err != nil { ... } The pack methods provided by protobuf library will by default use 'type.googleapis.com/full.type.name' as the type URL and the unpack methods only use the fully qualified type name after the last '/' in the type URL, for example \"foo.bar.com/x/y.z\" will yield type name \"y.z\". JSON The JSON representation of an `Any` value uses the regular representation of the deserialized, embedded message, with an additional field `@type` which contains the type URL. Example: package google.profile; message Person { string first_name = 1; string last_name = 2; } { \"@type\": \"type.googleapis.com/google.profile.Person\", \"firstName\": <string>, \"lastName\": <string> } If the embedded message type is well-known and has a custom JSON representation, that representation will be embedded adding a field `value` which holds the custom JSON in addition to the `@type` field. Example (for message [google.protobuf.Duration][]): { \"@type\": \"type.googleapis.com/google.protobuf.Duration\", \"value\": \"1.212s\" }"
      },
      "rpcStatus": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client."
          },
          "details": {
            "type": "array",
            "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
            "items": {
              "$ref": "#/components/schemas/protobufAny"
            }
          }
        },
        "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "description": "API Key used to be authentified to these APIs. Please contact Fluximmo to get one",
        "name": "x-api-key",
        "in": "header"
      }
    }
  }
}