<<<<<<< HEAD
{"openapi":"3.0.1","info":{"title":"Fluximmo-Data","description":"See more at fluximmo.com","contact":{"name":"Fluximmo BaaS","url":"https://fluximmo.com","email":"contact@fluximmo.com"},"version":"1.1.0-beta"},"servers":[{"url":"https://elasticimmo.prod.services.f6o.io"}],"security":[{"ApiKeyAuth":[]}],"tags":[{"name":"City"}],"paths":{"/v2/city/_scores":{"post":{"tags":["City"],"summary":"GetScores - Obtain city's main scores, higher is better, from 0 to 1.","operationId":"City_GetScores","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetScoresResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/_statistics":{"post":{"tags":["City"],"summary":"GetSummary - Obtain a summary of city statistics.","operationId":"City_GetSummary","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetSummaryResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/adminstrative/_info":{"post":{"tags":["City"],"summary":"GetAdministrativeInfo - Obtain a summary of city on the adminstrative aspect such as regulation and taxation infromation.","operationId":"City_GetAdministrativeInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetAdministrativeInfoResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/employement/_statistics":{"post":{"tags":["City"],"summary":"GetEmployementStatistics - Obtain city-related employment statistics.","operationId":"City_GetEmployementStatistics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetEmployementStatisticsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/health/_statistics":{"post":{"tags":["City"],"summary":"GetHealthStatistics - Obtain city-related health statistics.","operationId":"City_GetHealthStatistics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetHealthStatisticsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/housing/_info":{"post":{"tags":["City"],"summary":"GetHousingInfo - Obtain city's housing main informations.","operationId":"City_GetHousingInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetHousingInfoResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/market/_statistics":{"post":{"tags":["City"],"summary":"GetMarketStatistics - Obtain city's market statistics.","operationId":"City_GetMarketStatistics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetMarketStatisticsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/population/_info":{"post":{"tags":["City"],"summary":"GetPopulationInfo - Obtain city's population main information.","operationId":"City_GetPopulationInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetPopulationInfoResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/security/_statistics":{"post":{"tags":["City"],"summary":"GetSecurityStatistics - Obtain city's security statistics.","operationId":"City_GetSecurityStatistics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetSecurityStatisticsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/living_area/_info":{"post":{"tags":["City"],"summary":"GetLivingArea - Obtain city-related living-area (or the so-called attractivity's area).","operationId":"City_GetLivingArea","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetLivingAreaResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}}},"components":{"schemas":{"GetSummaryResponseCityLocation":{"type":"object","properties":{"regionCode":{"type":"string"},"departmentCode":{"type":"string"},"label":{"type":"string"},"irisCode":{"type":"array","items":{"type":"string"}}}},"GetSummaryResponseCitySummary":{"type":"object","properties":{"location":{"$ref":"#/components/schemas/GetSummaryResponseCityLocation"},"population":{"$ref":"#/components/schemas/GetSummaryResponsePopulation"}}},"GetSummaryResponsePopulation":{"type":"object","properties":{"basedOn":{"type":"string","format":"date-time"},"count":{"type":"integer","format":"int64"},"sinceLastYearChange":{"$ref":"#/components/schemas/cityGetSummaryResponseValue"}}},"MarketTimesOnMarketTime":{"type":"object","properties":{"average":{"type":"number","format":"float"}}},"MovementStatisticsMoveInSeniority":{"type":"object","properties":{"lessThan2Years":{"type":"number","format":"float"},"between24Years":{"type":"number","format":"float"},"between59Years":{"type":"number","format":"float"},"moreThan10Years":{"type":"number","format":"float"}}},"PriceChangeChange":{"type":"object","properties":{"value":{"type":"integer","format":"int32"},"percentageChange":{"type":"integer","format":"int32"},"absoluteChange":{"type":"integer","format":"int32"}}},"RealEstasteListingListingInfo":{"type":"object","properties":{"total":{"type":"integer","format":"int32"},"lessThan30Days":{"$ref":"#/components/schemas/cityStats"},"from30To60Days":{"$ref":"#/components/schemas/cityStats"},"moreThan60Days":{"$ref":"#/components/schemas/cityStats"}}},"cityAdministrativeInfo":{"type":"object","properties":{"householdTaxation":{"$ref":"#/components/schemas/cityTaxationSummary"},"marketRegulation":{"$ref":"#/components/schemas/cityRegulationSummary"}}},"cityContractStatistics":{"type":"object","properties":{"cdiOrCivilServants":{"$ref":"#/components/schemas/cityStats"},"cdd":{"$ref":"#/components/schemas/cityStats"},"interim":{"$ref":"#/components/schemas/cityStats"},"apprenticeship":{"$ref":"#/components/schemas/cityStats"},"independants":{"$ref":"#/components/schemas/cityStats"}}},"cityCrimeRates":{"type":"object","properties":{"drugUse":{"$ref":"#/components/schemas/cityStats"},"theftWithoutViolence":{"$ref":"#/components/schemas/cityStats"},"vehicleAccessoryTheft":{"$ref":"#/components/schemas/cityStats"},"deliberateVandalism":{"$ref":"#/components/schemas/cityStats"},"sexualViolence":{"$ref":"#/components/schemas/cityStats"},"intentionalInjury":{"$ref":"#/components/schemas/cityStats"},"theftFromVehicles":{"$ref":"#/components/schemas/cityStats"},"violentTheftWithoutWeapon":{"$ref":"#/components/schemas/cityStats"},"vehicleTheft":{"$ref":"#/components/schemas/cityStats"},"drugTrafficking":{"$ref":"#/components/schemas/cityStats"},"otherIntentionalInjuries":{"$ref":"#/components/schemas/cityStats"},"homeBurglaries":{"$ref":"#/components/schemas/cityStats"},"theftWithWeapons":{"$ref":"#/components/schemas/cityStats"},"domesticViolence":{"$ref":"#/components/schemas/cityStats"}}},"cityDemographyStatistics":{"type":"object","properties":{"age0To2":{"type":"number","format":"float"},"age3To5":{"type":"number","format":"float"},"age6To10":{"type":"number","format":"float"},"age11To17":{"type":"number","format":"float"},"age18To24":{"type":"number","format":"float"},"age25To39":{"type":"number","format":"float"},"age40To54":{"type":"number","format":"float"},"age55To64":{"type":"number","format":"float"},"age65To79":{"type":"number","format":"float"},"age80AndUp":{"type":"number","format":"float"}}},"cityEmployementStatistics":{"type":"object","properties":{"contract":{"$ref":"#/components/schemas/cityContractStatistics"},"occupation":{"$ref":"#/components/schemas/cityOccupationStatistics"}}},"cityEmploymentConcentration":{"type":"object","properties":{"index":{"type":"number","format":"float"}}},"cityGetAdministrativeInfoResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityAdministrativeInfo"}}}},"cityGetCityInfoRequest":{"title":"City summary","type":"object","properties":{"inseeCodes":{"type":"array","items":{"type":"string"}}}},"cityGetEmployementStatisticsResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityEmployementStatistics"}}}},"cityGetHealthStatisticsResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityHealthStatistics"}}}},"cityGetHousingInfoResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityHousingInfo"}}}},"cityGetLivingAreaResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityLivingArea"}}}},"cityGetMarketStatisticsResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityMarketStatistics"}}}},"cityGetPopulationInfoResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityPopulationInfo"}}}},"cityGetScoresResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityScores"}}}},"cityGetSecurityStatisticsResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/citySecurityStatistics"}}}},"cityGetSummaryResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GetSummaryResponseCitySummary"}}}},"cityGetSummaryResponseValue":{"type":"object","properties":{"value":{"type":"number","format":"double"},"percentageValue":{"type":"number","format":"double"}}},"cityHealthStatistics":{"type":"object","properties":{"doctor":{"$ref":"#/components/schemas/cityStats"},"hospital":{"$ref":"#/components/schemas/cityStats"},"pharmacy":{"$ref":"#/components/schemas/cityStats"}}},"cityHousingConstructed":{"type":"object","properties":{"pre1919":{"$ref":"#/components/schemas/cityStats"},"between19191945":{"$ref":"#/components/schemas/cityStats"},"between19451970":{"$ref":"#/components/schemas/cityStats"},"between19701990":{"$ref":"#/components/schemas/cityStats"},"between19912005":{"$ref":"#/components/schemas/cityStats"},"between20062017":{"$ref":"#/components/schemas/cityStats"},"post2017":{"$ref":"#/components/schemas/cityStats"}}},"cityHousingInfo":{"type":"object","properties":{"stock":{"$ref":"#/components/schemas/cityHousingStock"},"constructed":{"$ref":"#/components/schemas/cityHousingConstructed"},"statistics":{"$ref":"#/components/schemas/cityHousingType"},"typologoy":{"$ref":"#/components/schemas/cityHousingTypology"}}},"cityHousingStock":{"type":"object","properties":{"totalProperties":{"type":"number","format":"float"},"primaryResidences":{"type":"number","format":"float"},"secondaryResidences":{"type":"number","format":"float"},"vacantProperties":{"type":"number","format":"float"},"hotelRoomCount":{"type":"number","format":"float"}}},"cityHousingType":{"type":"object","properties":{"owners":{"$ref":"#/components/schemas/cityStats"},"renters":{"$ref":"#/components/schemas/cityStats"}}},"cityHousingTypology":{"type":"object","properties":{"houses":{"$ref":"#/components/schemas/cityStats"},"apartments":{"$ref":"#/components/schemas/cityStats"},"oneRooms":{"$ref":"#/components/schemas/cityStats"},"twoRooms":{"$ref":"#/components/schemas/cityStats"},"threeRooms":{"$ref":"#/components/schemas/cityStats"},"fourRooms":{"$ref":"#/components/schemas/cityStats"},"fiveOrMoreRooms":{"$ref":"#/components/schemas/cityStats"}}},"cityLivingArea":{"type":"object","properties":{"ID":{"type":"string"},"label":{"type":"string"},"inseeCodes":{"type":"array","items":{"type":"string"}},"population":{"type":"integer","format":"int32"},"employmentConcentration":{"$ref":"#/components/schemas/cityEmploymentConcentration"}}},"cityMarketStatistics":{"type":"object","properties":{"listings":{"$ref":"#/components/schemas/cityRealEstasteListing"},"prices":{"$ref":"#/components/schemas/cityPrices"},"marketTimes":{"$ref":"#/components/schemas/cityMarketTimes"}}},"cityMarketTimes":{"type":"object","properties":{"houses":{"$ref":"#/components/schemas/MarketTimesOnMarketTime"},"apartment":{"$ref":"#/components/schemas/MarketTimesOnMarketTime"},"combined":{"$ref":"#/components/schemas/MarketTimesOnMarketTime"}}},"cityMovementStatistics":{"type":"object","properties":{"totalHouseholds":{"type":"number","format":"float"},"moveInSeniority":{"$ref":"#/components/schemas/MovementStatisticsMoveInSeniority"}}},"cityOccupationStatistics":{"type":"object","properties":{"farmer":{"$ref":"#/components/schemas/cityStats"},"artisanBusinessOwner":{"$ref":"#/components/schemas/cityStats"},"worker":{"$ref":"#/components/schemas/cityStats"},"employee":{"$ref":"#/components/schemas/cityStats"},"intermediateProfession":{"$ref":"#/components/schemas/cityStats"},"executive":{"$ref":"#/components/schemas/cityStats"},"retiree":{"$ref":"#/components/schemas/cityStats"},"students":{"$ref":"#/components/schemas/cityStats"},"unemployed":{"$ref":"#/components/schemas/cityStats"}}},"cityPopulationInfo":{"type":"object","properties":{"movements":{"$ref":"#/components/schemas/cityMovementStatistics"},"statistics":{"$ref":"#/components/schemas/cityPopulationStatstics"},"demography":{"$ref":"#/components/schemas/cityDemographyStatistics"}}},"cityPopulationStatstics":{"type":"object","properties":{"count":{"type":"number","format":"float"},"foreigners":{"type":"number","format":"float"},"immigrants":{"type":"number","format":"float"},"povertyRate":{"type":"number","format":"float"}}},"cityPriceChange":{"type":"object","properties":{"since10YearMedian":{"$ref":"#/components/schemas/PriceChangeChange"},"since3YearMedian":{"$ref":"#/components/schemas/PriceChangeChange"},"since2YearMedian":{"$ref":"#/components/schemas/PriceChangeChange"}}},"cityPrices":{"type":"object","properties":{"houses":{"$ref":"#/components/schemas/cityPriceChange"},"apartment":{"$ref":"#/components/schemas/cityPriceChange"},"combined":{"$ref":"#/components/schemas/cityPriceChange"}}},"cityRealEstasteListing":{"type":"object","properties":{"houses":{"$ref":"#/components/schemas/RealEstasteListingListingInfo"},"apartment":{"$ref":"#/components/schemas/RealEstasteListingListingInfo"},"combined":{"$ref":"#/components/schemas/RealEstasteListingListingInfo"}}},"cityRegulationSummary":{"type":"object","properties":{"pinelArea":{"type":"string"},"regulatedRents":{"type":"boolean"},"maxRentPerSquareMeters":{"type":"integer","format":"int64"}}},"cityScores":{"type":"object","properties":{"security":{"type":"number","format":"float"},"amenities":{"type":"number","format":"float"},"commercial":{"type":"number","format":"float"},"sport":{"type":"number","format":"float"},"culture":{"type":"number","format":"float"},"education":{"type":"number","format":"float"},"service":{"type":"number","format":"float"},"health":{"type":"number","format":"float"},"socialServices":{"type":"number","format":"float"}}},"citySecurityStatistics":{"type":"object","properties":{"criminalityRate":{"type":"number","format":"double"},"degradations":{"$ref":"#/components/schemas/cityStats"},"blowsAndWounds":{"$ref":"#/components/schemas/cityStats"},"housebreaking":{"$ref":"#/components/schemas/cityStats"},"crimeRates":{"$ref":"#/components/schemas/cityCrimeRates"}}},"cityStats":{"type":"object","properties":{"count":{"type":"number","format":"float"},"rate":{"type":"number","format":"float"}}},"cityTaxationSummary":{"type":"object","properties":{"habitation":{"type":"number","format":"float"},"property":{"type":"number","format":"float"}}},"protobufAny":{"type":"object","properties":{"@type":{"type":"string","description":"A URL/resource name that uniquely identifies the type of the serialized
protocol buffer message. This string must contain at least
one \"/\" character. The last segment of the URL's path must represent
the fully qualified name of the type (as in
`path/google.protobuf.Duration`). The name should be in a canonical form
(e.g., leading \".\" is not accepted).

In practice, teams usually precompile into the binary all types that they
expect it to use in the context of Any. However, for URLs which use the
scheme `http`, `https`, or no scheme, one can optionally set up a type
server that maps type URLs to message definitions as follows:

* If no scheme is provided, `https` is assumed.
* An HTTP GET on the URL must yield a [google.protobuf.Type][]
  value in binary format, or produce an error.
* Applications are allowed to cache lookup results based on the
  URL, or have them precompiled into a binary to avoid any
  lookup. Therefore, binary compatibility needs to be preserved
  on changes to types. (Use versioned type names to manage
  breaking changes.)

Note: this functionality is not currently available in the official
protobuf release, and it is not used for type URLs beginning with
type.googleapis.com.

Schemes other than `http`, `https` (or the empty scheme) might be
used with implementation specific semantics."}},"additionalProperties":{"type":"object"},"description":"`Any` contains an arbitrary serialized protocol buffer message along with a
URL that describes the type of the serialized message.

Protobuf library provides support to pack/unpack Any values in the form
of utility functions or additional generated methods of the Any type.

Example 1: Pack and unpack a message in C++.

    Foo foo = ...;
    Any any;
    any.PackFrom(foo);
    ...
    if (any.UnpackTo(&foo)) {
      ...
    }

Example 2: Pack and unpack a message in Java.

    Foo foo = ...;
    Any any = Any.pack(foo);
    ...
    if (any.is(Foo.class)) {
      foo = any.unpack(Foo.class);
    }
    // or ...
    if (any.isSameTypeAs(Foo.getDefaultInstance())) {
      foo = any.unpack(Foo.getDefaultInstance());
    }

Example 3: Pack and unpack a message in Python.

    foo = Foo(...)
    any = Any()
    any.Pack(foo)
    ...
    if any.Is(Foo.DESCRIPTOR):
      any.Unpack(foo)
      ...

Example 4: Pack and unpack a message in Go

     foo := &pb.Foo{...}
     any, err := anypb.New(foo)
     if err != nil {
       ...
     }
     ...
     foo := &pb.Foo{}
     if err := any.UnmarshalTo(foo); err != nil {
       ...
     }

The pack methods provided by protobuf library will by default use
'type.googleapis.com/full.type.name' as the type URL and the unpack
methods only use the fully qualified type name after the last '/'
in the type URL, for example \"foo.bar.com/x/y.z\" will yield type
name \"y.z\".

JSON

The JSON representation of an `Any` value uses the regular
representation of the deserialized, embedded message, with an
additional field `@type` which contains the type URL. Example:

    package google.profile;
    message Person {
      string first_name = 1;
      string last_name = 2;
    }

    {
      \"@type\": \"type.googleapis.com/google.profile.Person\",
      \"firstName\": <string>,
      \"lastName\": <string>
    }

If the embedded message type is well-known and has a custom JSON
representation, that representation will be embedded adding a field
`value` which holds the custom JSON in addition to the `@type`
field. Example (for message [google.protobuf.Duration][]):

    {
      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",
      \"value\": \"1.212s\"
    }"},"rpcStatus":{"type":"object","properties":{"code":{"type":"integer","description":"The status code, which should be an enum value of
[google.rpc.Code][google.rpc.Code].","format":"int32"},"message":{"type":"string","description":"A developer-facing error message, which should be in English. Any
user-facing error message should be localized and sent in the
[google.rpc.Status.details][google.rpc.Status.details] field, or localized
by the client."},"details":{"type":"array","description":"A list of messages that carry the error details.  There is a common set of
message types for APIs to use.","items":{"$ref":"#/components/schemas/protobufAny"}}},"description":"The `Status` type defines a logical error model that is suitable for
different programming environments, including REST APIs and RPC APIs. It is
used by [gRPC](https://github.com/grpc). Each `Status` message contains
three pieces of data: error code, error message, and error details.

You can find out more about this error model and how to work with it in the
[API Design Guide](https://cloud.google.com/apis/design/errors)."}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","description":"API Key used to be authentified to these APIs. Please contact Fluximmo to get one","name":"x-api-key","in":"header"}}}}
=======
{"openapi":"3.0.1","info":{"title":"Fluximmo-Data","description":"See more at fluximmo.com","contact":{"name":"Fluximmo BaaS","url":"https://fluximmo.com","email":"contact@fluximmo.com"},"version":"1.1.0-beta"},"servers":[{"url":"https://api.f6o.io/"}],"security":[{"ApiKeyAuth":[]}],"tags":[{"name":"City"}],"paths":{"/v2/city/_scores":{"post":{"tags":["City"],"summary":"GetScores - Obtain city's main scores, higher is better, from 0 to 1.","operationId":"City_GetScores","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetScoresResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/_statistics":{"post":{"tags":["City"],"summary":"GetSummary - Obtain a summary of city statistics.","operationId":"City_GetSummary","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetSummaryResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/adminstrative/_info":{"post":{"tags":["City"],"summary":"GetAdministrativeInfo - Obtain a summary of city on the adminstrative aspect such as regulation and taxation infromation.","operationId":"City_GetAdministrativeInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetAdministrativeInfoResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/employement/_statistics":{"post":{"tags":["City"],"summary":"GetEmployementStatistics - Obtain city-related employment statistics.","operationId":"City_GetEmployementStatistics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetEmployementStatisticsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/health/_statistics":{"post":{"tags":["City"],"summary":"GetHealthStatistics - Obtain city-related health statistics.","operationId":"City_GetHealthStatistics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetHealthStatisticsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/housing/_info":{"post":{"tags":["City"],"summary":"GetHousingInfo - Obtain city's housing main informations.","operationId":"City_GetHousingInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetHousingInfoResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/market/_statistics":{"post":{"tags":["City"],"summary":"GetMarketStatistics - Obtain city's market statistics.","operationId":"City_GetMarketStatistics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetMarketStatisticsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/population/_info":{"post":{"tags":["City"],"summary":"GetPopulationInfo - Obtain city's population main information.","operationId":"City_GetPopulationInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetPopulationInfoResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/city/security/_statistics":{"post":{"tags":["City"],"summary":"GetSecurityStatistics - Obtain city's security statistics.","operationId":"City_GetSecurityStatistics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetSecurityStatisticsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}},"/v2/living_area/_info":{"post":{"tags":["City"],"summary":"GetLivingArea - Obtain city-related living-area (or the so-called attractivity's area).","operationId":"City_GetLivingArea","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetCityInfoRequest"}}},"required":true},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityGetLivingAreaResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rpcStatus"}}}}},"x-codegen-request-body-name":"body"}}},"components":{"schemas":{"GetSummaryResponseCityLocation":{"type":"object","properties":{"regionCode":{"type":"string"},"departmentCode":{"type":"string"},"label":{"type":"string"},"irisCode":{"type":"array","items":{"type":"string"}}}},"GetSummaryResponseCitySummary":{"type":"object","properties":{"location":{"$ref":"#/components/schemas/GetSummaryResponseCityLocation"},"population":{"$ref":"#/components/schemas/GetSummaryResponsePopulation"}}},"GetSummaryResponsePopulation":{"type":"object","properties":{"basedOn":{"type":"string","format":"date-time"},"count":{"type":"integer","format":"int64"},"sinceLastYearChange":{"$ref":"#/components/schemas/cityGetSummaryResponseValue"}}},"MarketTimesOnMarketTime":{"type":"object","properties":{"average":{"type":"number","format":"float"}}},"MovementStatisticsMoveInSeniority":{"type":"object","properties":{"lessThan2Years":{"type":"number","format":"float"},"between24Years":{"type":"number","format":"float"},"between59Years":{"type":"number","format":"float"},"moreThan10Years":{"type":"number","format":"float"}}},"PriceChangeChange":{"type":"object","properties":{"value":{"type":"integer","format":"int32"},"percentageChange":{"type":"integer","format":"int32"},"absoluteChange":{"type":"integer","format":"int32"}}},"RealEstasteListingListingInfo":{"type":"object","properties":{"total":{"type":"integer","format":"int32"},"lessThan30Days":{"$ref":"#/components/schemas/cityStats"},"from30To60Days":{"$ref":"#/components/schemas/cityStats"},"moreThan60Days":{"$ref":"#/components/schemas/cityStats"}}},"cityAdministrativeInfo":{"type":"object","properties":{"householdTaxation":{"$ref":"#/components/schemas/cityTaxationSummary"},"marketRegulation":{"$ref":"#/components/schemas/cityRegulationSummary"}}},"cityContractStatistics":{"type":"object","properties":{"cdiOrCivilServants":{"$ref":"#/components/schemas/cityStats"},"cdd":{"$ref":"#/components/schemas/cityStats"},"interim":{"$ref":"#/components/schemas/cityStats"},"apprenticeship":{"$ref":"#/components/schemas/cityStats"},"independants":{"$ref":"#/components/schemas/cityStats"}}},"cityCrimeRates":{"type":"object","properties":{"drugUse":{"$ref":"#/components/schemas/cityStats"},"theftWithoutViolence":{"$ref":"#/components/schemas/cityStats"},"vehicleAccessoryTheft":{"$ref":"#/components/schemas/cityStats"},"deliberateVandalism":{"$ref":"#/components/schemas/cityStats"},"sexualViolence":{"$ref":"#/components/schemas/cityStats"},"intentionalInjury":{"$ref":"#/components/schemas/cityStats"},"theftFromVehicles":{"$ref":"#/components/schemas/cityStats"},"violentTheftWithoutWeapon":{"$ref":"#/components/schemas/cityStats"},"vehicleTheft":{"$ref":"#/components/schemas/cityStats"},"drugTrafficking":{"$ref":"#/components/schemas/cityStats"},"otherIntentionalInjuries":{"$ref":"#/components/schemas/cityStats"},"homeBurglaries":{"$ref":"#/components/schemas/cityStats"},"theftWithWeapons":{"$ref":"#/components/schemas/cityStats"},"domesticViolence":{"$ref":"#/components/schemas/cityStats"}}},"cityDemographyStatistics":{"type":"object","properties":{"age0To2":{"type":"number","format":"float"},"age3To5":{"type":"number","format":"float"},"age6To10":{"type":"number","format":"float"},"age11To17":{"type":"number","format":"float"},"age18To24":{"type":"number","format":"float"},"age25To39":{"type":"number","format":"float"},"age40To54":{"type":"number","format":"float"},"age55To64":{"type":"number","format":"float"},"age65To79":{"type":"number","format":"float"},"age80AndUp":{"type":"number","format":"float"}}},"cityEmployementStatistics":{"type":"object","properties":{"contract":{"$ref":"#/components/schemas/cityContractStatistics"},"occupation":{"$ref":"#/components/schemas/cityOccupationStatistics"}}},"cityEmploymentConcentration":{"type":"object","properties":{"index":{"type":"number","format":"float"}}},"cityGetAdministrativeInfoResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityAdministrativeInfo"}}}},"cityGetCityInfoRequest":{"title":"City summary","type":"object","properties":{"inseeCodes":{"type":"array","items":{"type":"string"}}}},"cityGetEmployementStatisticsResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityEmployementStatistics"}}}},"cityGetHealthStatisticsResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityHealthStatistics"}}}},"cityGetHousingInfoResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityHousingInfo"}}}},"cityGetLivingAreaResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityLivingArea"}}}},"cityGetMarketStatisticsResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityMarketStatistics"}}}},"cityGetPopulationInfoResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityPopulationInfo"}}}},"cityGetScoresResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/cityScores"}}}},"cityGetSecurityStatisticsResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/citySecurityStatistics"}}}},"cityGetSummaryResponse":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"context":{"type":"string"},"internalDelay":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GetSummaryResponseCitySummary"}}}},"cityGetSummaryResponseValue":{"type":"object","properties":{"value":{"type":"number","format":"double"},"percentageValue":{"type":"number","format":"double"}}},"cityHealthStatistics":{"type":"object","properties":{"doctor":{"$ref":"#/components/schemas/cityStats"},"hospital":{"$ref":"#/components/schemas/cityStats"},"pharmacy":{"$ref":"#/components/schemas/cityStats"}}},"cityHousingConstructed":{"type":"object","properties":{"pre1919":{"$ref":"#/components/schemas/cityStats"},"between19191945":{"$ref":"#/components/schemas/cityStats"},"between19451970":{"$ref":"#/components/schemas/cityStats"},"between19701990":{"$ref":"#/components/schemas/cityStats"},"between19912005":{"$ref":"#/components/schemas/cityStats"},"between20062017":{"$ref":"#/components/schemas/cityStats"},"post2017":{"$ref":"#/components/schemas/cityStats"}}},"cityHousingInfo":{"type":"object","properties":{"stock":{"$ref":"#/components/schemas/cityHousingStock"},"constructed":{"$ref":"#/components/schemas/cityHousingConstructed"},"statistics":{"$ref":"#/components/schemas/cityHousingType"},"typologoy":{"$ref":"#/components/schemas/cityHousingTypology"}}},"cityHousingStock":{"type":"object","properties":{"totalProperties":{"type":"number","format":"float"},"primaryResidences":{"type":"number","format":"float"},"secondaryResidences":{"type":"number","format":"float"},"vacantProperties":{"type":"number","format":"float"},"hotelRoomCount":{"type":"number","format":"float"}}},"cityHousingType":{"type":"object","properties":{"owners":{"$ref":"#/components/schemas/cityStats"},"renters":{"$ref":"#/components/schemas/cityStats"}}},"cityHousingTypology":{"type":"object","properties":{"houses":{"$ref":"#/components/schemas/cityStats"},"apartments":{"$ref":"#/components/schemas/cityStats"},"oneRooms":{"$ref":"#/components/schemas/cityStats"},"twoRooms":{"$ref":"#/components/schemas/cityStats"},"threeRooms":{"$ref":"#/components/schemas/cityStats"},"fourRooms":{"$ref":"#/components/schemas/cityStats"},"fiveOrMoreRooms":{"$ref":"#/components/schemas/cityStats"}}},"cityLivingArea":{"type":"object","properties":{"ID":{"type":"string"},"label":{"type":"string"},"inseeCodes":{"type":"array","items":{"type":"string"}},"population":{"type":"integer","format":"int32"},"employmentConcentration":{"$ref":"#/components/schemas/cityEmploymentConcentration"}}},"cityMarketStatistics":{"type":"object","properties":{"listings":{"$ref":"#/components/schemas/cityRealEstasteListing"},"prices":{"$ref":"#/components/schemas/cityPrices"},"marketTimes":{"$ref":"#/components/schemas/cityMarketTimes"}}},"cityMarketTimes":{"type":"object","properties":{"houses":{"$ref":"#/components/schemas/MarketTimesOnMarketTime"},"apartment":{"$ref":"#/components/schemas/MarketTimesOnMarketTime"},"combined":{"$ref":"#/components/schemas/MarketTimesOnMarketTime"}}},"cityMovementStatistics":{"type":"object","properties":{"totalHouseholds":{"type":"number","format":"float"},"moveInSeniority":{"$ref":"#/components/schemas/MovementStatisticsMoveInSeniority"}}},"cityOccupationStatistics":{"type":"object","properties":{"farmer":{"$ref":"#/components/schemas/cityStats"},"artisanBusinessOwner":{"$ref":"#/components/schemas/cityStats"},"worker":{"$ref":"#/components/schemas/cityStats"},"employee":{"$ref":"#/components/schemas/cityStats"},"intermediateProfession":{"$ref":"#/components/schemas/cityStats"},"executive":{"$ref":"#/components/schemas/cityStats"},"retiree":{"$ref":"#/components/schemas/cityStats"},"students":{"$ref":"#/components/schemas/cityStats"},"unemployed":{"$ref":"#/components/schemas/cityStats"}}},"cityPopulationInfo":{"type":"object","properties":{"movements":{"$ref":"#/components/schemas/cityMovementStatistics"},"statistics":{"$ref":"#/components/schemas/cityPopulationStatstics"},"demography":{"$ref":"#/components/schemas/cityDemographyStatistics"}}},"cityPopulationStatstics":{"type":"object","properties":{"count":{"type":"number","format":"float"},"foreigners":{"type":"number","format":"float"},"immigrants":{"type":"number","format":"float"},"povertyRate":{"type":"number","format":"float"}}},"cityPriceChange":{"type":"object","properties":{"since10YearMedian":{"$ref":"#/components/schemas/PriceChangeChange"},"since3YearMedian":{"$ref":"#/components/schemas/PriceChangeChange"},"since2YearMedian":{"$ref":"#/components/schemas/PriceChangeChange"}}},"cityPrices":{"type":"object","properties":{"houses":{"$ref":"#/components/schemas/cityPriceChange"},"apartment":{"$ref":"#/components/schemas/cityPriceChange"},"combined":{"$ref":"#/components/schemas/cityPriceChange"}}},"cityRealEstasteListing":{"type":"object","properties":{"houses":{"$ref":"#/components/schemas/RealEstasteListingListingInfo"},"apartment":{"$ref":"#/components/schemas/RealEstasteListingListingInfo"},"combined":{"$ref":"#/components/schemas/RealEstasteListingListingInfo"}}},"cityRegulationSummary":{"type":"object","properties":{"pinelArea":{"type":"string"},"regulatedRents":{"type":"boolean"},"maxRentPerSquareMeters":{"type":"integer","format":"int64"}}},"cityScores":{"type":"object","properties":{"security":{"type":"number","format":"float"},"amenities":{"type":"number","format":"float"},"commercial":{"type":"number","format":"float"},"sport":{"type":"number","format":"float"},"culture":{"type":"number","format":"float"},"education":{"type":"number","format":"float"},"service":{"type":"number","format":"float"},"health":{"type":"number","format":"float"},"socialServices":{"type":"number","format":"float"}}},"citySecurityStatistics":{"type":"object","properties":{"criminalityRate":{"type":"number","format":"double"},"degradations":{"$ref":"#/components/schemas/cityStats"},"blowsAndWounds":{"$ref":"#/components/schemas/cityStats"},"housebreaking":{"$ref":"#/components/schemas/cityStats"},"crimeRates":{"$ref":"#/components/schemas/cityCrimeRates"}}},"cityStats":{"type":"object","properties":{"count":{"type":"number","format":"float"},"rate":{"type":"number","format":"float"}}},"cityTaxationSummary":{"type":"object","properties":{"habitation":{"type":"number","format":"float"},"property":{"type":"number","format":"float"}}},"protobufAny":{"type":"object","properties":{"@type":{"type":"string","description":"A URL/resource name that uniquely identifies the type of the serialized protocol buffer message. This string must contain at least one \"/\" character. The last segment of the URL's path must represent the fully qualified name of the type (as in `path/google.protobuf.Duration`). The name should be in a canonical form (e.g., leading \".\" is not accepted). In practice, teams usually precompile into the binary all types that they expect it to use in the context of Any. However, for URLs which use the scheme `http`, `https`, or no scheme, one can optionally set up a type server that maps type URLs to message definitions as follows: README.md _snippets api-analytics-reference api-city-reference api-dvf-reference api-experimental-reference api-geography-reference api-v2-reference authentification.mdx doc essentials favicon.png gen_swagger_analytics.sh gen_swagger_api_v2.sh gen_swagger_city.sh gen_swagger_dvf.sh gen_swagger_geography.sh gen_swagger_maps.sh images introduction.mdx logs.txt mint.json swagger-analytics.json swagger-api-v2.json swagger-city.json swagger-dvf.json swagger-geography.json swagger-maps.json If no scheme is provided, `https` is assumed. README.md _snippets api-analytics-reference api-city-reference api-dvf-reference api-experimental-reference api-geography-reference api-v2-reference authentification.mdx doc essentials favicon.png gen_swagger_analytics.sh gen_swagger_api_v2.sh gen_swagger_city.sh gen_swagger_dvf.sh gen_swagger_geography.sh gen_swagger_maps.sh images introduction.mdx logs.txt mint.json swagger-analytics.json swagger-api-v2.json swagger-city.json swagger-dvf.json swagger-geography.json swagger-maps.json An HTTP GET on the URL must yield a [google.protobuf.Type][] value in binary format, or produce an error. README.md _snippets api-analytics-reference api-city-reference api-dvf-reference api-experimental-reference api-geography-reference api-v2-reference authentification.mdx doc essentials favicon.png gen_swagger_analytics.sh gen_swagger_api_v2.sh gen_swagger_city.sh gen_swagger_dvf.sh gen_swagger_geography.sh gen_swagger_maps.sh images introduction.mdx logs.txt mint.json swagger-analytics.json swagger-api-v2.json swagger-city.json swagger-dvf.json swagger-geography.json swagger-maps.json Applications are allowed to cache lookup results based on the URL, or have them precompiled into a binary to avoid any lookup. Therefore, binary compatibility needs to be preserved on changes to types. (Use versioned type names to manage breaking changes.) Note: this functionality is not currently available in the official protobuf release, and it is not used for type URLs beginning with type.googleapis.com. Schemes other than `http`, `https` (or the empty scheme) might be used with implementation specific semantics."}},"additionalProperties":{"type":"object"},"description":"`Any` contains an arbitrary serialized protocol buffer message along with a URL that describes the type of the serialized message. Protobuf library provides support to pack/unpack Any values in the form of utility functions or additional generated methods of the Any type. Example 1: Pack and unpack a message in C++. Foo foo = ...; Any any; any.PackFrom(foo); ... if (any.UnpackTo(&foo)) { ... } Example 2: Pack and unpack a message in Java. Foo foo = ...; Any any = Any.pack(foo); ... if (any.is(Foo.class)) { foo = any.unpack(Foo.class); } // or ... if (any.isSameTypeAs(Foo.getDefaultInstance())) { foo = any.unpack(Foo.getDefaultInstance()); } Example 3: Pack and unpack a message in Python. foo = Foo(...) any = Any() any.Pack(foo) ... if any.Is(Foo.DESCRIPTOR): any.Unpack(foo) ... Example 4: Pack and unpack a message in Go foo := &pb.Foo{...} any, err := anypb.New(foo) if err != nil { ... } ... foo := &pb.Foo{} if err := any.UnmarshalTo(foo); err != nil { ... } The pack methods provided by protobuf library will by default use 'type.googleapis.com/full.type.name' as the type URL and the unpack methods only use the fully qualified type name after the last '/' in the type URL, for example \"foo.bar.com/x/y.z\" will yield type name \"y.z\". JSON The JSON representation of an `Any` value uses the regular representation of the deserialized, embedded message, with an additional field `@type` which contains the type URL. Example: package google.profile; message Person { string first_name = 1; string last_name = 2; } { \"@type\": \"type.googleapis.com/google.profile.Person\", \"firstName\": <string>, \"lastName\": <string> } If the embedded message type is well-known and has a custom JSON representation, that representation will be embedded adding a field `value` which holds the custom JSON in addition to the `@type` field. Example (for message [google.protobuf.Duration][]): { \"@type\": \"type.googleapis.com/google.protobuf.Duration\", \"value\": \"1.212s\" }"},"rpcStatus":{"type":"object","properties":{"code":{"type":"integer","description":"The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].","format":"int32"},"message":{"type":"string","description":"A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client."},"details":{"type":"array","description":"A list of messages that carry the error details. There is a common set of message types for APIs to use.","items":{"$ref":"#/components/schemas/protobufAny"}}},"description":"The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","description":"API Key used to be authentified to these APIs. Please contact Fluximmo to get one","name":"x-api-key","in":"header"}}}}
>>>>>>> 2864a75 (Add - New services doc)
